{% extends "enduser/base.html" %}

{% block title %}Pixify-AboutUs{% endblock %}

{% block content %}

{%load static %}
<div class="px-3 py-3 mt-3"
    style="background-color: #1f0447e3;box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);font-family: serif;border-radius: 7px;">
    <div>
    <div class=" d-flex align-items-center">
        <img src="https://cdn-icons-png.flaticon.com/128/1144/1144760.png" alt="Logo" class="rounded-circle me-2"
            style="width:20px; height:20px; background-color:white;">
        <h5 class="modal-title mb-1">Rima Das</h5>
    </div>
    <div class="post-center pb-3 mb-3" style="margin-left: 0px;">
        <p class="px-3 pt-2" style="font-size:15px; margin: 0; margin-bottom: 5px;">Wow, this is good</p>

        <div class="post-box pb-2">


            <div class="post-des-img">
                <img src="{% static 'images/green.png' %}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="post-react-det">
                <div class="post-react">
                    <i class="fa-regular fa-heart"></i>
                    <a href="/comments"><i class="fa-regular fa-comment"></i></a>
                    <i class="fa-solid fa-bookmark me-2"></i>
                    <i class="fa-solid fa-share-nodes" data-bs-toggle="modal" data-bs-target="#shareModal"></i>
                    <i class="fa-solid fa-pen post-pe-icon"></i>
                    <i class="fa-solid fa-trash post-pe-icon"></i>
                </div>
                <div class="post-date-time">
                    <p>10November2024 20:05pm </p>
                    <p></p>
                </div>
            </div>
        </div>

    </div>
    <div class="comment-section">
        <div class="comment-box p-1" style="overflow-y:auto;">
            <div class="pt-2 pe-2" style="height: auto;">
                <div class="d-flex py-1">

                    <img src="{% static 'images/green.png'%}" alt="User" class="rounded-circle"
                        style="width:25px; height:25px;">
                    <div class="d-flex" style="flex-direction: column;width:100%">
                        <div class="comment-text mb-0 ps-2 py-1 rounded px-3"
                            style="background-color: #311e4ee3;margin-left: 8px;width:100%">
                            <span class="d-block">Rima Das</span>
                            <span class="fw-light ps-1" style="font-size:11px">Wow ! What a picture Lorem ipsum, dolor
                                sit amet consectetur.</span>
                        </div>


                        <div class="d-flex p-1" style="gap:20px; margin-left: 17px;">
                            <span style="font-size:11px;cursor:pointer;">16h</span>
                            <span style="font-size:11px;cursor:pointer;">Like</span>
                            <span style="font-size:11px;  cursor: pointer;" class="com-reply">Reply</span>
                        </div>
                        <span class="view-comment" style="cursor: pointer; font-size:14px;margin-left:12px;">View
                            <span>1</span> reply</span>


                        <div style="height:50px; display:none;" class="reply-open">
                            <div class="d-flex py-1">
                                <img src="{% static 'images/green.png'%}" alt="User" class="rounded-circle"
                                    style="width:25px; height:25px;">
                                <div class="d-flex" style="flex-direction: column;width:100%">
                                    <div class="comment-text mb-0 ps-2 py-1  rounded px-3"
                                        style="background-color: #311e4ee3;margin-left: 8px;width: 100%;">
                                        <span class="d-block">Priya Mitra</span>
                                        <span class="fw-light ps-1" style="font-size:11px">Wow ! What a picture Lorem
                                            ipsum, dolor sit amet consectetur.</span>
                                    </div>
                                    <div class="d-flex p-1" style="gap:20px; margin-left: 17px;">
                                        <span style="font-size:11px;cursor:pointer;">16h</span>
                                        <span style="font-size:11px;cursor:pointer;">Like</span>
                                        <span style="font-size:11px;cursor:pointer;" class="com-reply">Reply</span>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex py-1">
                                <img src="{% static 'images/green.png'%}" alt="User" class="rounded-circle"
                                    style="width:25px; height:25px;">
                                <div class="d-flex" style="flex-direction: column;width:100%">
                                    <div class="comment-text mb-0 ps-2 py-1  rounded px-3"
                                        style="background-color: #311e4ee3;margin-left: 8px;width: 100%;">
                                        <span class="d-block">Priya Mitra</span>
                                        <span class="fw-light ps-1" style="font-size:11px">Wow ! What a picture Lorem
                                            ipsum, dolor sit amet consectetur.</span>
                                    </div>
                                    <div class="d-flex p-1" style="gap:20px; margin-left: 17px;">
                                        <span style="font-size:11px;cursor:pointer;">16h</span>
                                        <span style="font-size:11px;cursor:pointer;">Like</span>
                                        <span style="font-size:11px;cursor:pointer;" class="com-reply">Reply</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-section">
        <div class="comment-box p-1" style="overflow-y:auto;">
            <div class="pt-2 pe-2" style="height: auto;">
                <div class="d-flex py-1">

                    <img src="{% static 'images/green.png'%}" alt="User" class="rounded-circle"
                        style="width:25px; height:25px;">
                    <div class="d-flex" style="flex-direction: column;width:100%">
                        <div class="comment-text mb-0 ps-2 py-1 rounded px-3"
                            style="background-color: #311e4ee3;margin-left: 8px;width:100%">
                            <span class="d-block">Rima Das</span>
                            <span class="fw-light ps-1" style="font-size:11px">Wow ! What a picture Lorem ipsum, dolor
                                sit amet consectetur.</span>
                        </div>


                        <div class="d-flex p-1" style="gap:20px; margin-left: 17px;">
                            <span style="font-size:11px;cursor:pointer;">16h</span>
                            <span style="font-size:11px;cursor:pointer;">Like</span>
                            <span style="font-size:11px;  cursor: pointer;" class="com-reply">Reply</span>
                        </div>
                        <span class="view-comment" style="cursor: pointer; font-size:14px;margin-left:12px;">View reply</span>


                        <div style="height:50px; display:none;" class="reply-open">
                            <div class="d-flex py-1">
                                <img src="{% static 'images/green.png'%}" alt="User" class="rounded-circle"
                                    style="width:25px; height:25px;">
                                <div class="d-flex" style="flex-direction: column;width:100%">
                                    <div class="comment-text mb-0 ps-2 py-1  rounded px-3"
                                        style="background-color: #311e4ee3;margin-left: 8px;width: 100%;">
                                        <span class="d-block">Priya Mitra</span>
                                        <span class="fw-light ps-1" style="font-size:11px">Wow ! What a picture Lorem
                                            ipsum, dolor sit amet consectetur.</span>
                                    </div>
                                    <div class="d-flex p-1" style="gap:20px; margin-left: 17px;">
                                        <span style="font-size:11px;cursor:pointer;">16h</span>
                                        <span style="font-size:11px;cursor:pointer;">Like</span>
                                        <span style="font-size:11px;cursor:pointer;" class="com-reply">Reply</span>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex py-1">
                                <img src="{% static 'images/green.png'%}" alt="User" class="rounded-circle"
                                    style="width:25px; height:25px;">
                                <div class="d-flex" style="flex-direction: column;width:100%">
                                    <div class="comment-text mb-0 ps-2 py-1  rounded px-3"
                                        style="background-color: #311e4ee3;margin-left: 8px;width: 100%;">
                                        <span class="d-block">Priya Mitra</span>
                                        <span class="fw-light ps-1" style="font-size:11px">Wow ! What a picture Lorem
                                            ipsum, dolor sit amet consectetur.</span>
                                    </div>
                                    <div class="d-flex p-1" style="gap:20px; margin-left: 17px;">
                                        <span style="font-size:11px;cursor:pointer;">16h</span>
                                        <span style="font-size:11px;cursor:pointer;">Like</span>
                                        <span style="font-size:11px;cursor:pointer;" class="com-reply">Reply</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
     <div class="d-flex align-items-start mb-2 mt-3" id="CommentsectionTextarea">
            <img src="{% static 'images/avatar.jpg'%}" alt="User" class="rounded-circle"
                style="width:25px; height:25px; background-color:white;margin:0px auto;">
            <div class="ms-2 rounded "
                style="background-color: #f8f9fa;width: 100%;background-color:rgb(61, 61, 107);">
                <textarea class="fileInputStyle"
                    style="background-color: #f8f9fa;width: 100%;background-color:rgb(132 132 152);" rows="2"
                    placeholder="Comment..."></textarea>
                <div class="d-flex mx-2" style="gap:15px;border-top:1px solid #975fec;">
                    <i class="bi bi-person-vcard text-light fs-8"></i>
                    <i class="bi bi-emoji-smile text-light fs-8"></i>
                    <i class="bi bi-filetype-gif text-light fs-8"></i>
                    <i class="bi bi-stickies text-light fs-8"></i>
                    <i class="bi bi-symmetry-horizontal ms-auto fs-7 text-info"></i>
                </div>
            </div>
        </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}