{% extends "enduser/base.html" %}

{% block title %}Pixify-AboutUs{% endblock %}

{% block content %}

<div class="modal fade show" tabindex="-1" aria-labelledby="postModalLabel" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img src=https://cdn-icons-png.flaticon.com/128/1144/1144760.png alt="Logo" class="rounded-circle me-2"
                    style="width:20px; height:20px; background-color:white;">
                    
                <h5 class="modal-title mb-1" id="postModalLabel">Rima Das</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p style="font-size:15px; margin: 0; margin-bottom: 5px;">Wow, this is good</p>
                <img src="https://img.freepik.com/free-photo/mountains-river_1398-1811.jpg?ga=GA1.1.1564480209.1731166512&semt=ais_hybrid"
                    alt="Post image" class="img-fluid mb-2" style="height: 200px; width: 500px;">
                <p style="color:dodgerblue;font-size: 13px; text-align:right; margin-top: -3px; margin-bottom: 9px;">
                    Posted at 29 Aug
                    2023, 01:29 PM</p>
                <div class="comment-section">
                    <div class="comment-box p-1">
                        <div class="border border-dark m-1" style="height: 55px;">
                            <div style="display: flex;">
                                <img src=https://cdn-icons-png.flaticon.com/128/2105/2105556.png alt="Logo"
                                    class="mt-2 me-1 ms-2" style="width:15px; height:15px; background-color:darkcyan ;">
                                <p class="comment-text">Username</p>
                            </div>
                            <p class="paragraph">comment</p>
                        </div>
                        <div class="border border-dark m-1" style="height: 55px;">
                            <div style="display: flex;">
                                <!-- <div class="comment-box mb-2"> -->
                                <img src=https://cdn-icons-png.flaticon.com/128/2105/2105556.png alt="Logo"
                                    class="mt-2 me-1 ms-2" style="width:15px; height:15px; background-color:darkcyan ;">
                                <p class="comment-text">Username</p>
                            </div>
                            <p class="paragraph">comment</p>
                        </div>
                        <div class="border border-dark m-1" style="height: 55px;">
                            <div style="display: flex;">
                                <!-- <div class="comment-box mb-2"> -->
                                <img src=https://cdn-icons-png.flaticon.com/128/2105/2105556.png alt="Logo"
                                    class="mt-2 me-1 ms-2" style="width:15px; height:15px; background-color:darkcyan ;">
                                <p class="comment-text">Username</p>
                            </div>
                            <p class="paragraph">comment</p>
                        </div>
                        <div class="border border-dark m-1" style="height: 55px;">
                            <div style="display: flex;">
                                <img src=https://cdn-icons-png.flaticon.com/128/2105/2105556.png alt="Logo"
                                    class="mt-2 me-1 ms-2" style="width:15px; height:15px; background-color:darkcyan ;">
                                <p class="comment-text">Username</p>
                            </div>
                            <p class="paragraph">comment</p>
                        </div>
                        <!-- <div class="border border-dark m-1" style="height: 55px;">
                            <div style="display: flex;">
                                <img src=https://cdn-icons-png.flaticon.com/128/2105/2105556.png alt="Logo"
                                    class="mt-2 me-1 ms-2" style="width:15px; height:15px; background-color:darkcyan ;">
                                <p class="comment-text">Username</p>
                            </div>
                            <p class="paragraph">comment</p>
                        </div>  -->
                        <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>

            </div>
            <img src=https://cdn-icons-png.flaticon.com/128/1144/1144760.png alt="Logo" class="rounded-circle me-2"
                style="width:20px; height:20px; background-color:white;margin-bottom: -21px;margin-left: 12px;">
            <div class="commentContainer">
                <div class="comentWriteBox">
                    <textarea class="fileInputStyle" rows="3" placeholder="Comment..."></textarea>
                    <div class="icon-container">
                        <span class="icon like-icon">👩</span>
                        <span class="icon emoji-icon">👍</span>
                        <span class="icon camera-icon">🤗</span>
                        <span class="icon gif-icon">🎥</span>
                        <span class="icon sticker-icon">🌟</span>
                    </div>
                    <button class="send-button">
                        <img src=https://cdn-icons-png.flaticon.com/128/10426/10426419.png alt="Send" />
                    </button>
                </div>
                <button class="btn btn-primary mt-1 mb-3 ms-3"
                    style="font-size: 10px; font-weight: bold; border-radius: 0;">COMMENT</button>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>



{% endblock %}