{% extends "../base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-12 col-lg-12 ">
            <div class="card shadow ">
                <div class="card-header text-center">
                    <h2 class="text-info">Create Post</h2>
                </div>
                <div class="spaci p-3 ">
                    <classds="card-body">
                        <form method="post" id="post_form">
                            {% csrf_token %}
                            {{ data.post_form.as_p }}
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                    {{ form.posted_by.label_tag }}
                                    {{ form.posted_by }}
                                    {% if form.posted_by.errors %}
                                    <div class="text-danger">{{ form.posted_by.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                    {{ form.type.label_tag }}
                                    {{ form.type }}
                                    {% if form.type.errors %}
                                    <div class="text-danger">{{ form.type.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                    {{ form.content_type.label_tag }}
                                    {{ form.content_type }}
                                    {% if form.content_type.errors %}
                                    <div class="text-danger">{{ form.content_type.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                    {{ form.title.label_tag }}
                                    {{ form.title }}
                                    {% if form.title.errors %}
                                    <div class="text-danger">{{ form.title.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                    {{ form.accessability.label_tag }}
                                    {{ form.accessability }}
                                    {% if form.accessability.errors %}
                                    <div class="text-danger">{{ form.accessability.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                    {{ form.treat_as.label_tag }}
                                    {{ form.treat_as }}
                                    {% if form.treat_as.errors %}
                                    <div class="text-danger">{{ form.treat_as.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="form-group col-md-12 col-lg-12 col-sm-12 mb-3">
                                    {{ form.description.label_tag }}
                                    {{ form.description }}
                                    {% if form.description.errors %}
                                    <div class="text-danger">{{ form.description.errors }}</div>
                                    {% endif %}
                                </div>
                                <label for="addPost"></label>
                                <div class="pb-1" data-bs-toggle="modal" data-bs-target="#addPost" id="addPost">
                                    <input class="form-control" placeholder="" id="addPost"></input>
                              </div>
                            </div>
                            <!-- Repeat for other fields -->
                            <div class="text-start">
                                <a href="{% url 'manage_post_list' %}" class="btn btn-sm btn-outline-secondary">Back</a>
                                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
<!-- --------------------------------------------------------------------------------------------------------------------- -->
                            <div class="modal fade" id="addPost" tabindex="-1" aria-labelledby="addPost"
                            aria-hidden="true" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                  <!-- <form action="posts/create/" method="post" enctype="multipart/form-data"> -->
                                      {% csrf_token %}
                                    <div class="modal-header">
                                      <h5 class="modal-title mx-auto" id="addPost">Create Post</h5>
                                      <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 0px;"></button>
                                    </div>
                          
                                    <div class="modal-body">
                          
                                        <div class="d-flex align-items-center mb-3" style="margin-top:10px;">
                                            <img src=""
                                                class="user-avatar me-2">
                                            <span class="fw-bold "style="color:white">Priya Mitra</span>
                                        </div>
                                        <div class="mb-3  ">
                                            <textarea class="form-control  " name="postTitle" placeholder="What do you want to talk about?" rows="2"
                                                style="resize: none;background-color: #27236e"></textarea>
                                        </div>
                          
                                        <div class="mb-3" >
                                              <label for="fileInput" class="file-upload-label" style="width: 100%; outline:none; border:none">
                                                <input type="file" name="postFiles" class="form-control d-none" id="fileInput" multiple>
                                                <div
                                                    id="dropZone">
                                                    <p style="color:black;" class="select">Drag and drop photos or videos, or click to browse</p>
                                                    <i class="bi bi-image" style="color:black; font-size:22px;" class="inner"></i>
                                                </div>
                                            </label>
                          
                                          <div class="con">
                                          </div>
                                      </div> 
                          
                          
                                      <div class="pt-1 pb-3 px-2 mb-2 fw-semibold text-dark rounded" >
                                          <div class=" d-flex justify-content-between rounded p-2" style="border:1px solid black;align-items:center;background-color:white;" >
                          
                                              <span class="">Add to your post</span>
                          
                                              <div class="gap-3 d-flex md-icon ">
                                              <i class="bi bi-images text-success" ></i>
                                              <i class="bi bi-tag text-primary"></i>
                                              <i class="bi bi-emoji-smile text-warning"></i>
                                              <i class="bi bi-geo-alt-fill text-danger"></i>
                                              <i class="bi bi-filetype-gif text-info"></i>
                                          </div>  
                                          </div>
                          
                                      </div>
                                    </div>
                                    <div class="justify-content-center mx-auto mb-3">
                                        <button type="submit" class="btn text-dark  mx-auto b_btn px-3 d-flex" style="background-color:white;">Post</button>
                                    </div>
                                </div>
                            </div>
                          </div>
                          </div>
<!-- --------------------------------------------------------------------------------------------------------------------- -->
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>












<div class="modal fade" id="addPost" tabindex="-1" aria-labelledby="addPost"
  aria-hidden="true" >
  <div class="modal-dialog">
      <div class="modal-content">
        <!-- <form action="posts/create/" method="post" enctype="multipart/form-data"> -->
            {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title mx-auto" id="addPost">Create Post</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close" style="margin-left: 0px;"></button>
          </div>

          <div class="modal-body">

              <div class="d-flex align-items-center mb-3" style="margin-top:10px;">
                  <img src=""
                      class="user-avatar me-2">
                  <span class="fw-bold "style="color:white">Priya Mitra</span>
              </div>
              <div class="mb-3  ">
                  <textarea class="form-control  " name="postTitle" placeholder="What do you want to talk about?" rows="2"
                      style="resize: none;background-color: #27236e"></textarea>
              </div>

              <div class="mb-3" >
                    <label for="fileInput" class="file-upload-label" style="width: 100%; outline:none; border:none">
                      <input type="file" name="postFiles" class="form-control d-none" id="fileInput" multiple>
                      <div
                          id="dropZone">
                          <p style="color:black;" class="select">Drag and drop photos or videos, or click to browse</p>
                          <i class="bi bi-image" style="color:black; font-size:22px;" class="inner"></i>
                      </div>
                  </label>

                <div class="con">
                </div>
            </div> 


            <div class="pt-1 pb-3 px-2 mb-2 fw-semibold text-dark rounded" >
                <div class=" d-flex justify-content-between rounded p-2" style="border:1px solid black;align-items:center;background-color:white;" >

                    <span class="">Add to your post</span>

                    <div class="gap-3 d-flex md-icon ">
                    <i class="bi bi-images text-success" ></i>
                    <i class="bi bi-tag text-primary"></i>
                    <i class="bi bi-emoji-smile text-warning"></i>
                    <i class="bi bi-geo-alt-fill text-danger"></i>
                    <i class="bi bi-filetype-gif text-info"></i>
                </div>  
                </div>

            </div>
          </div>
          <div class="justify-content-center mx-auto mb-3">
              <button type="submit" class="btn text-dark  mx-auto b_btn px-3 d-flex" style="background-color:white;">Post</button>
          </div>
      </div>
  </div>
</div>
</div>







<script>
    $(document).ready(function () {
        $("#post_form").validate({
            rules: {
                title: {
                    required: true,
                    minlength: 5,
                    maxlength: 50
                },
                description: {
                    required: true,
                    minlength: 5,
                    maxlength: 150
                },
            },
            messages: {
                title: {
                    required: "Please enter title.",
                    minlength: "title must be at least 5 characters.",
                    maxlength: "title cannot exceed 50 characters."
                },
                description: {
                    required: "Please enter description.",
                    minlength: "description must be at least 5 characters.",
                    maxlength: "description cannot exceed 150 characters."
                },
            }                   
        });
    });
</script>


{% endblock %}