{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}

<h1>Create Post</h1>
<form method="post">
    {% csrf_token %}
    <label>posted_by:</label>
    <input type="text" name="posted_by" required>
    <label>content_type:</label>
    <input type="number" name="content_type" required>
       
    <label for="media_url" class="form-label">Media URL</label>
    <input type="url" id="media_url" name="media_url" class="form-control" placeholder="Enter media URL" value="{{ media_url }}">
    <label>accessability:</label>
    <input type="text" name="accessability" required>
    <label>members:</label>
    <input type="text" name="members" required>
    <label>treat_as:</label>
    <input type="text" name="treat_as" required>
    <button type="submit">Create</button>
</form>
<a href="{% url 'post_create' %}">Back to Post Create</a>
{% endblock %}