{% extends "../base.html" %}

{% block title %}User List{% endblock %}

{% block content %}
<style>
    .hover-bg:hover {
        background-color: rgba(240, 242, 245, 0.1);
        color: aqua; 
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="text-center mb-4" >Posts</h2>

            <div class="d-flex justify-content-between mb-3">
                <div class="input-group" style="max-width: 300px;">
                    <button class="btn btn-outline-secondary">Name</button>
                    <button class="btn btn-outline-secondary">A-Z</button>
                    <input type="text" class="form-control border-secondary" placeholder="Search" aria-label="Search">
                    <span class="input-group-text border-secondary bg-info text-dark"><i class="bi bi-search"></i></span> 
                </div>
              
                <div class=""><button class="btn btn-primary btn-sm"><a href="{% url 'post_create' %}" class="text-white text-decoration-none">Add Post</a></button></div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-info text-white"> 
                        <tr>
                            <th>Post Title</th>
                            <th>Posted By</th>
                            <th>Media URL</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            <td>
                                <a class="text-decoration-none text-primary hover-bg" href="{% url 'post_detail' post.id %}">
                                    {{ post.title }} 
                                    
                                </a>
                            </td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.posted_by }}</td>
                            <td>{{ post.type }}</td>
                            <td>{{ post.content_type }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
