{% extends "enduser/base.html" %}

{% block title %}Pixify-Home{% endblock %}

{% block content %}
<div class="px-3 py-3 mt-3"
style="background-color: #1f0447e3;box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);font-family: serif;border-radius: 7px;">
    <div>
        <div class="">

            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src=https://img.freepik.com/free-photo/close-up-guitar-strings-with-shallow-depth-field-soft-focus_169016-60792.jpg?semt=ais_hybrid
                            class="d-block"  height="350" width="100%">
                    </div>
                    <div class="carousel-item active">
                        <img src=https://img.freepik.com/free-photo/close-up-guitar-strings-with-shallow-depth-field-soft-focus_169016-60792.jpg?semt=ais_hybrid
                            class="d-block"  height="350" width="100%">
                    </div>
                    <div class="carousel-item">
                        <img src=https://img.freepik.com/free-photo/close-up-guitar-strings-with-shallow-depth-field-soft-focus_169016-60792.jpg?semt=ais_hybrid
                            class="d-block"  height="350" width="100%">
                    </div>
                </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
              </div>
        </div>
    </div>

        <div class="post-section">
            <form>
               {% comment %} <div class="form-group">
                    <label style="font-size: 25px; color: white; font-weight: bold;" for="photoUpload">Select
                        Photo</label>
                    <div class="fileInputStyle">
                        <div class="browseStyle">
                            <label for="file-upload" class="custom-file-upload">
                                Browse..
                            </label>
                        </div>
                        <input type="file" class="form-control-file" id="photoUpload" accept="image/*"
                            style="display: none;">
                        <span id="file-name">No file selected.</span>
                    </div>
                </div> {% endcomment %}
                 <label style="font-size: 20px; color: white; font-weight: bold;" for="fileUpload">Select
                    Photo</label>
                <div class="mb-3 " >
                    <input type="file" class="form-control fileInputStyle" id="fileUpload">
                    {% comment %} <label class="input-group-text " for="inputGroupFile02">Upload</label> {% endcomment %}
                </div>

                <div class="form-group" style="margin-top: 15px;">
                     <textarea class="form-control textAreaStyle" id="postText" rows="3"
                        style=" background-color: rgb(35, 10, 59); border:2px solid rgb(16, 3, 26); font-size: 20px; color:white;"
                        placeholder="What's on your mind  ?"></textarea>
                </div>
                <button type="submit" class="btn btn-primary post-button"
                    style="color: white; font-weight: bold; background-color:#975fec;">
                    POST
                </button>
            </form>
    </div>
 </div>
{% endblock %}