{% extends "enduser/base.html" %}

{% block title %}Pixify-Home{% endblock %}

{% load static %}
{% block content %} 




 <!-- story short view -->
<div class="stories-container ">  
    <div class="content">  
        <div class="previous-btn active1">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg> 
        </div>  
        <div class="stories">

            <div class="mx-1 bg- rounded story" type="button" style="width: 6em; height: 180px;background-color: #1f0447e3 " >
                <img src="static\images\p4.jpg" alt="story post" class="card-img-top" style="min-height: 105px; object-fit: cover;">
                   <div class="d-flex align-items-center justify-content-center position-relative" style="min-height: 65px; ">
                <p class="mb-0 text-center fs-7 fw-bold" style="color: white;  ">Create story</p>
                <div class="position-absolute top-0 start-50 translate-middle plus-btn">
                <i class="fas fa-plus-circle fs-3 text-primary bg-white p-1 rounded-circle">
                   <!-- <img src="" alt="story post" class="card-img-top" style=" object-fit: cover;"> -->
                </i>
                </div>
                </div>
                </div>
            <!-- <div class="user-pro">
            <div class="story">
                <img src="static\images\p4.jpg" alt="">
                <div class="author">Author</div>
                
            </div>
            <div class="position-relative me-2" style="width: 50px;height: 50px;border-radius: 50px;border: 2px solid #e211f5; padding: 2px; overflow: hidden; background: transparent;top:-75%;left:5%;">
                <img src="static\images\priya.jpg" class="img-fluid rounded-circle" style="height: 45px; width: 45px;object-fit: cover;"> 
            </div>
        </div> -->


        </div>
      
        <div class="next-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </div>
    </div>
</div> 
<!-- stories-full-view -->

<div class="stories-full-view ">
    <div class="close-btn">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
                  
    </div>
    <div class="content">
        <div class="previous-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg> 
        </div> 
        <div class="story">
            <img src="static\images\p1.jpg" alt="">
            <div class="author">Author</div>
        </div>
        <div class="next-btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            </svg>
        </div>
    </div>
</div>





    <div class="container post-center pb-3">
        <div class="post-box pb-2">
        <div class="post-top">
            <a href="">
                <img src="{% static 'images/IMG_20240915_213320.jpg' %}" alt="avatar" class="rounded-circle me-1 " style="width: 28px; object-fit: cover; height: 28px; " >
               </a><h6 class="u-name"> Sribash Sarkar</h6>
        </div>
        <div class="post-des-img">
            <p class="px-3 pt-2" style="font-size:15px; margin: 0; margin-bottom: 5px;padding-bottom:13px;" >Wow, this is good</p>
            <img src="{% static 'images/green.png' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="post-react-det">
            <div class="post-react">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-regular fa-comment"></i>
                <i class="fa-solid fa-bookmark me-2"></i>
                <i class="fa-solid fa-share-nodes" data-bs-toggle="modal" data-bs-target="#shareModal"></i>
            </div>
            <div class="post-date-time">
                <p>10November2024 20:05pm </p>
                <p></p>
            </div>
           </div>
        </div>
        {% comment %} <div class="p-3 rounded shadow pb-5" style="width: 100%;border:1.5px solid #975fec">
             <div class="d-flex" type="button" >
                <div class="p-1">
                    <img src="{% static 'images/avatar.jpg' %}" alt="avatar" class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover;">
                </div>
                <div class="border" style="width: 100%; height: 88px; border-radius: 10px;background-color: rgb(61, 61, 107);border:none !important;">
                <div class="com-post-et">
                    <div class="coment">
                    <input type="text" class="from-control rounded-pill border-0 bg-gray" style="width: 100%;height: 35px;color: black; border: none; text-decoration: none; padding: 20px;background-color: rgb(61, 61, 107);" placeholder="comment">
                    </div>
                    <i class="far fa-smile" style="padding: 20px; color: black;"></i>
                    <i class="far fa-image" style="color: black;"></i>


<script type="text/javascript" src="{% static 'js/sribash.js' %}"></script>
{% endblock %}


