
{% extends "../base.html" %}

{% block title %}Create Notificationr{% endblock %}

{% block content %}
<!-- 
<h1>Create User</h1> -->
<form method="post">
    {% csrf_token %}
    <style>
    
        .layout {
            margin: auto;
            width: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    
        
        .form-box {
            border: 1px solid aqua;
            padding: 20px;
            width: 60vw;
            margin: 2px; 
            border-radius: 8px;
        }
    
        
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>

    <div class="layout">
        <div class="header">
            <h1>Create Notification</h1>
        </div> 

        <div class="row form-box">
            <form class="" method="post">
                <div class="col-md-6">
                    <label for="text" class="form-label">text:</label>
                    <input type="text" class="form-control" name="text" id="text">
                </div>
    
                <div class="col-md-6">
                    <label for="media_url" class="form-label">Media URL</label>
                    <input type="url" id="media_url" name="media_url" class="form-control" placeholder="Enter media URL" value="{{ media_url }}">
                </div>
    
                <div class="col-12">
                    <label>receiver_id:</label>
                    <input type="text" name="receiver_id" required>
                </div>
    
                <div class="col-12">
                    <label>is_read:</label>
                    <input type="text" name="is_read" required>
                </div>

                
                <div class="col-12">
                    <button type="submit" class="btn btn-primary my-3">Save</button>
                </div>
            </form>
        </div>
    </div>
 
</form>
<a href="{% url 'notification_list' %}">notification_list</a>


{% endblock %}