
{% extends "../base.html" %}

{% block title %}Update Notification{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="text-info">Update Notification</h2>
                </div>         
                <div class="card-body">
                    <form method="post" id="notification_form">
                        {% csrf_token %}
                        {{ data.notification_form.as_p }}
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                {{ form.text.label_tag }}<span class="text-danger">*</span>
                                {{ form.text }}
                                {% if form.text.errors %}
                                    <div class="text-danger">{{ form.text.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                {{ form.media_url.label_tag }}<span class="text-danger">*</span>
                                {{ form.media_url }}
                                {% if form.media_url.errors %}
                                    <div class="text-danger">{{ form.media_url.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                {{ form.receiver_id.label_tag }}
                                {{ form.receiver_id}}                                
                                {% if form.receiver_id.errors %}
                                    <div class="text-danger">{{ form.receiver_id.errors }}</div>
                                {% endif %}
                            </div>
                        </div>                 
                      
                        <!-- Repeat for other fields -->
                        <div class="text-start">
                            <a href="{% url 'manage_notification_list' %}" class="btn btn-sm btn-outline-secondary">Back</a>
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </form>
                        </div>    
                    </div>
                </div>
            </div>     
        </div>

        <script>
            $(document).ready(function () {
                $("#notification_form").validate({
                    rules: {
                        text: {
                            required: true,
                            minlength: 5,
                            maxlength: 50
                        },
                        media_url: {
                            required: true,
                            minlength: 5,
                            maxlength: 150
                        },
                    },
                    messages: {
                        text: {
                            required: "Please enter text.",
                            minlength: "text must be at least 5 characters.",
                            maxlength: "text cannot exceed 50 characters."
                        },
                        media_url: {
                            required: "Please enter media_url.",
                            minlength: "media_url must be at least 5 characters.",
                            maxlength: "media_url cannot exceed 150 characters."
                        },
                    }
                });
            });
        </script>

{% endblock %}