
{% extends "../base.html" %}

{% block title %}Create Chat{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="text-info">Create Chat</h2>
                </div>
                <div class="card-body">
                    <form method="post" id="manage_chat_form" >
                        {% csrf_token %}
                       {{ data.manage_chat_form.as_p }} 
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                {{ form.title.label_tag }}
                                {{ form.title }}
                                {% if form.title.errors %}
                                    <div class="text-danger">{{ form.title.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                {{ form.type.label_tag }}
                                <select id="type" name="type" value="{{ chat.type }}" class="form-select">
                                        {% for type in choices_type %}
                                            {% for name, value in type.items %}
                                                <option value="{{ name }}">{{ value }}</option>
                                            {% endfor %}
                                        {% endfor %}
                                    </select> 
                                    {% if form.type.errors %}
                                        <div class="text-danger">{{ form.type.errors }}</div>
                                    {% endif %}
                                </div>
    
                                <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                    {{ form.chat_cover.label_tag }}
                                    {{ form.chat_cover }}
                                    {% if form.chat_cover.errors %}
                                        <div class="text-danger">{{ form.chat_cover.errors }}</div>
                                    {% endif %}
                                </div>
    
                        </div>
                    
                        
                        <!-- Repeat for other fields -->
                        <div class="text-start">
                            <a href="{% url 'manage_chat_list' %}" class="btn btn-sm btn-outline-secondary">Back</a>
                            <button type="submit" class="btn btn-sm btn-primary">SAVE</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>       
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#manage_chat_form").validate({
            rules: {
                title: {
                    required: true,
                    minlength: 3,
                    maxlength: 50
                },
                chat_cover: {
                    required: true,
                    minlength: 5,
                    maxlength: 150
                },
            },
            messages: {
                title: {
                    required: "Please enter title.",
                    minlength: "title must be at least 3 characters.",
                    maxlength: "title cannot exceed 50 characters."
                },
                chat_cover: {
                    required: "Please enter chat_cover.",
                    minlength: "chat_cover must be at least 5 characters.",
                    maxlength: "chat_cover cannot exceed 150 characters."
                },
            }
        });
    });
</script>


{% endblock %}