
{% extends "../base.html" %}

{% block title %}Chat Detail{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card shadow-sm">
                <div class="card-header text-center">
                    <h2 class="text-info">Chat Detail</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            
                            
                            <div class="row">
                                <div class="mb-3">
                                    <label for="type">Type</label>
                                    <select id="type" class="form-control" name="type" >
                                        <option selected>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="chat_cover" class="form-label">Chat_Cover</label>
                                    <input type="chat_cover" class="form-control" id="chat_cover" name="chat_cover" >
                                </div>

                                {% comment %} <input type="hidden" id="created_by" name="created_by" value="10">
                                <input type="hidden" id="updated_by" name="updated_by" value="10"> {% endcomment %}
    
                                
                           
                        </div>
                             
                       

                            <div class="container my-2">
                                <button type="submit" class="btn btn-primary btn-sm" >
                                   <a class="text-decoration-none text-white" href="{% url 'chat_update' %}"> Edit </a>                             
                                    </button>                                     
                                  
                                  <button class="btn btn-primary btn-sm">
                                     <a class="text-decoration-none text-white" href="{% url 'chat_list' %}">Back</a>
                                    </button>  
                        </div>
                    </form>
                </div>
            </div>
        </div>       
</div>



{% endblock %}