

{% extends "../base.html" %}

{% block title %}Chat Create{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card border-primary">
                <div class="card-header text-center">
                    <h2 class="text-info">Chat Update</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% comment %} <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="is_active" name="is_active" checked>
                            <label class="form-check-label" for="is_active">Is Active</label>
                        </div> {% endcomment %}
            
            
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" value="{{chat.title}}">
                        </div>
                        
                        
                        <div class="row">
                            <div class="mb-3">
                                <label for="gender">Type</label>
                                <select id="type" class="form-control" name="type" value="{{chat.title}}">
                                    <option selected>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            
                        {% comment %} <div class="mb-3">
                            <label for="title" class="form-label">Members</label>
                            <input type="text" class="form-control" id="title" name="member" placeholder="title">
                        </div> {% endcomment %}
                            
            
                        
        
            
                        
                        <div class="container my-2">
                            <button type="submit" class="btn btn-primary btn-sm" >
                              <a class="text-decoration-none text-white" href="{% url 'chat_list'chat.id %}">Save</a>                                 
                            </button>                                     
                              
                              <button class="btn btn-primary btn-sm">
                                 <a class="text-decoration-none text-white" href="{% url 'chat_list'chat.id %}">Back</a>
                              </button>   
                        </div>
                    </form>
                </div>
           
        </div>
        
    </div>
</div>



{% endblock %}