{% extends "auth/base.html" %}

{% block title %}Welcome to Pixify{% endblock %}

{% block content %}

<h3>Please enter details to continue</h3>
<div class="row">
    <div class="col-md-6">
        <form method="post" action="{% url 'register' %}" id="register_form">
            {% csrf_token %}
            {{ data.register_form.as_p }}
            <button type="submit" class="btn btn-sm btn-primary my-2">Continue</button>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#register_form").validate({
            rules: {
                first_name: {
                    required: true,
                    minlength: 3,
                    maxlength: 15
                },
                last_name: {
                    required: true,
                    minlength: 3,
                    maxlength: 15
                },
            },
            messages: {
                first_name: {
                    required: "Please enter your first name.",
                    minlength: "First name must be at least 3 characters.",
                    maxlength: "First name cannot exceed 15 characters."
                },
                last_name: {
                    required: "Please enter your last name.",
                    minlength: "Last name must be at least 3 characters.",
                    maxlength: "Last name cannot exceed 15 characters."
                },
            }
        });
    });
</script>
{% endblock %}