{% extends "auth/base.html" %}

{% block title %}Welcome to Pixify{% endblock %}

{% block content %}
{%load static %}

<div class="m-0 login_mainContainer" style="background-color: #1a0933;">
<div class="container-fluid p-0">
    <div class="row m-0">
        <div class="col-12 col-md-4 input-container">
        <form method="post" id="req_otp_form">
            {% csrf_token %}
            <div class="">
                <h3 class="text-white fw-bold">PIXIFY</h3>
                <h1 class="mt-3 fw-bold" style="color: #ecc18a;">WELCOME TO PIXIFY</h1>
            </div>
            <div class="mt-5" style="color: #ecc18a;">
                {% comment %} <label for="email" class="form-label fs-5">Email</label>
                <input type="text" name="email" class="form-control form-control-lg mb-2 col-5" id="email"
                    placeholder="Enter email"> {% endcomment %}
                    {{ data.req_otp_form.as_p }}
            </div>
            <button type="submit" class="btn btn-lg mt-3 text-dark" style="background-color: #ecc18a;">Send OTP</button>
        </form>
        </div>
        <!-- Image -->
        <div class="col-12 col-md-8 p-0 d-none d-md-block">
            <img src="{% static 'images/bg_image.jpeg'%}" alt="Full Screen Image" class="full-screen-image">
            <div class="shape1"></div>
            <div class="shape2"></div>
        </div>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        $("#req_otp_form").validate({
            rules: {
                email: {
                    required: true,
                    minlength: 7,
                    maxlength: 30
                }
            },
            messages: {
                email: {
                    required: "Please enter your email id.",
                    minlength: "Email must be at least 7 characters.",
                    maxlength: "Email cannot exceed 30 characters."
                }
            }
        });
    });
</script>

{% endblock %}