{% extends "auth/base.html" %}

{% block title %}Welcome to Pixify{% endblock %}

{% block content %}

<h2>Welcome to Pixify</h2>
<h3>Please enter details to continue</h3>
<h2>Verify OTP</h2>

<form method="post" action="{% url 'verify_otp' %}">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{ data.email }}">
    <input type="hidden" name="next_url" value="{{ data.next_url }}">
    <label for="otp_code">OTP Code:</label>
    <input type="text" id="otp_code" name="otp_code" required>
    <button type="submit">Verify OTP</button>
</form>

{% endblock %}