{% extends "enduser/base.html" %}

{% block title %}Pixify-Profile{% endblock %}
{% load static %}
{% block content %}

<div class="px-3 py-3 mt-3  users"
        style="background-color: #1f0447e3;box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);font-family: serif;border-radius: 7px;">
        <div class="row loginuserprofile mx-2 pt-1 pb-3 px-2 mb-2 fw-semibold "
            style="border: 1px solid black;border-radius: 3px;">
            <div id="p-pic" class="col-md-4 col-lg-5 col-xl-5 col-xxl-5" id="item-1">
                <img class="img-fluid" src="{% static 'images/avatar.jpg' %}" alt="">
            </div>
            <div class="pt-1 col-md-8 col-lg-7 col-xl-7 col-xxl-7 pb-3 px-2 fw-semibold mr-5 prof-li" id="user-details" style="border-radius: 3px;">
                <h4 style="padding: 10px;margin-bottom:0px;position: relative;"><i class="bi bi-person"></i> Priya<i class="bi bi-patch-check prof-check"></i></h4>

                <ul class=" prof-ul" mr-5>
                    <li class="pb-2"><a href="#" class="light text-white"><i class="bi bi-circle"></i> Status <span
                                class="text-t fw-medium">(Active)</span> </a></li>
                    <li class="pb-2"><a href="#" class="text-white"><i class="bi bi-calendar3"></i> Age <span
                                class="text-t fw-medium">(22 Year)</span></a></li>
                    <li class="pb-2"><a href="#" class="text-white"><i class="bi bi-people-fill"></i> Friends <span
                                class="text-t fw-medium">(270)</span></a></li>
                    <li class="pb-2"><a href="#" class="text-white"><i class="bi bi-chat-dots"></i> Messages <span
                                class="text-t fw-medium">(10)</span></a></li>
                    <li class="pb-2"><a href="#" class="text-white"><i class="bi bi-bell"></i> Notifications <span
                                class="text-t fw-medium">(5)</span></a></li>
                </ul>
                {% comment %} <div class="row" style="display:flex; gap:10px">
                    <button type="button" class="prof-btn btn btn-primary" style="font-size:14px ;">EDIT</button>
                    <button type="button" class="btn btn-primary prof-btn"
                        style="font-size:14px ;">CHANGE PASSWORD</button>
                </div> {% endcomment %}
                <div class="col-auto col-sm-auto d-flex" style="gap:10px">
                    <button type="button" class="prof-btn btn btn-primary" style="font-size:14px ;">EDIT</button>
                    <button type="button" class="btn btn-primary prof-btn" style="font-size:14px;">CHANGE PASSWORD</button>
                </div>
            </div>
        </div>
        <div id="item-2">
            <div style="width: 100%; display:flex;justify-content:center;">
                <span class="text-center p-2 "
                    style="font-size:25px; border-bottom: 2px solid rgba(172, 57, 147, 0.973); ">Friends</span>
            </div>
            <div  class="m-2">
                <div class="p-3 fnd-pic d-flex  justify-content-around" >
                    <span></span>
                    <span class="text-center text-align-center ms-auto fw-semibold"
                    style="color: rgb(0, 255, 242);cursor: pointer;    font-size: 14px;">See
                    All</span>


                </div>
              </div>
            <div>
                <div style="border: 1px solid black;border-radius: 3px;" class="m-2">
                    <div class="p-3 fnd-pic">
                        <a href="#" style="text-decoration: none; display:flex; align-items:center; gap:20px ">
                            <img class="img-fluid" src="{% static 'images/avatar.jpg' %}" alt=""
                                style="height:40px;   border-radius:50%;">
                            <p class="verify-Icon-div">Friend 1 <i class="bi bi-patch-check verify-Icon"></i></p>
                        </a>
                    </div>
                </div>
                <div style="border: 1px solid black;border-radius: 3px;" class="m-2">
                    <div class="p-3 fnd-pic">
                        <a href="#" style="text-decoration: none; display:flex; align-items:center; gap:20px ">
                            <img src="{% static 'images/avatar.jpg' %}" class="img-fluid" alt=""
                                style="height:40px;   border-radius:50%;">
                            <p class="verify-Icon-div">Friend 1 <i class="bi bi-patch-check verify-Icon"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="galary justify-content-center "id="item-3" >
            <div style="width: 100%; display:flex;justify-content:center;">
            <span class="text-center justify-content-center p-2 " style="font-size:25px; border-bottom: 2px solid rgba(172, 57, 147, 0.973);">Memories</span>
            </div>

            <div  class="m-2">
              <div class="p-3 fnd-pic d-flex  justify-content-around" >
                  <span>Saved</span>
                  <span class="text-center text-align-center ms-auto fw-semibold"
                  style="color: rgb(0, 255, 242);cursor: pointer;    font-size: 14px;">See
                  All</span>


              </div>
          </div>
            <div class="row loginuserprofile mx-2   pt-1 pb-3 px-2 mb-2 fw-semibold" >

            <div class="container text-center p-2" class="memory" >
                <div class="row">
                  <div class="col">
                    <img src="{% static 'images/p2.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                  </div>
                  <div class="col">
                    <img src="{% static 'images/p3.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                  </div>
                  <div class="col">
                    <img src="{% static 'images/p4.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                  </div>
                </div>
              </div>



          <div class="container text-center p-2" class="memory">
            <div class="row">
              <div class="col">
                <img src="{% static 'images/p4.jpg' %}" class="img-fluid rounded" alt="Responsive image">
              </div>
              <div class="col">
                <img src="{% static 'images/p5.jpg' %}" class="img-fluid rounded" alt="Responsive image">
              </div>
              <div class="col">
                <img src="{% static 'images/p5.jpg' %}" class="img-fluid rounded" alt="Responsive image">
              </div>
            </div>
          </div>
        </div>
        </div>





        <div class="galary justify-content-center "id="item-4" >
            <div style="width: 100%; display:flex;justify-content:center;">
              <span class="text-center p-2 " style="font-size:25px; border-bottom: 2px solid #ac3993f8;">Saved  </span>
            </div>

            <div  class="m-2">
              <div class="p-3 fnd-pic d-flex  justify-content-around" >
                  <span >Saved</span>
                  <span class="text-center text-align-center ms-auto fw-semibold"
                  style="color: rgb(0, 255, 242);cursor: pointer;    font-size: 14px;">See
                  All</span>


              </div>
          </div>
            <div class="row loginuserprofile mx-2   pt-1 pb-3 px-2 mb-2 fw-semibold" >
              <div class="container text-center p-2" class="memory" >
                  <div class="row">
                    <div class="col">
                      <img src="{% static 'images/p4.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                    </div>
                    <div class="col">
                      <img src="{% static 'images/p2.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                    </div>
                    <div class="col">
                      <img src="{% static 'images/p2.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                    </div>
                  </div>
                </div>



            <div class="container text-center p-2" class="memory">
              <div class="row">
                <div class="col">
                  <img src="{% static 'images/p4.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                </div>
                <div class="col">
                  <img src="{% static 'images/p3.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                </div>
                <div class="col">
                  <img src="{% static 'images/p2.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                </div>
              </div>
            </div>
          </div>
          </div>





              <div>
                  <div style=" display:flex;justify-content:center;" id="item-5">
                      <span class="text-center p-2 " style="font-size:25px; border-bottom: 2px solid rgba(172, 57, 147, 0.973); ">Groups</span>
                  </div>
                  <div  class="m-2">
                    <div class="p-3 fnd-pic d-flex  justify-content-around" >
                        <span></span>
                        <span class="text-center text-align-center ms-auto fw-semibold"
                        style="color: rgb(0, 255, 242);cursor: pointer;    font-size: 14px;">See
                        All</span>


                    </div>
                </div>
                  <div >
                      <div style="border: 1px solid black;border-radius: 3px;" class="m-2">
                              <div class="p-3 fnd-pic" >
                                  <a href="#" style="text-decoration: none; display:flex; align-items:center; gap:20px ">
                                      <img  class="img-fluid" src="{% static 'images/avatar.jpg' %} " alt="" style="height:40px;   border-radius:50%;">
                                      <p>Group 1 <i class="bi bi-patch-check prof-check"></i></p>
                                  </a>
                              </div>
                      </div>
                      <div style="border: 1px solid black;border-radius: 3px;" class="m-2" >
                          <div class="p-3 fnd-pic" >
                              <a href="#" style="text-decoration: none; display:flex; align-items:center; gap:20px ">
                                  <img src="{% static 'images/avatar.jpg' %}" class="img-fluid" alt="" style="height:40px;   border-radius:50%;">
                                  <p>Group 1 <i class="bi bi-patch-check prof-check" ></i></p>
                              </a>
                          </div>
                      </div>
                      <div style="border: 1px solid black;border-radius: 3px;" class="m-2" >
                        <div class="p-3 fnd-pic" >
                            <a href="#" style="text-decoration: none; display:flex; align-items:center; gap:20px ">
                                <img src="{% static 'images/avatar.jpg' %} " class="img-fluid" alt="" style="height:40px;   border-radius:50%;">
                                <p>Group 1 <i class="bi bi-patch-check prof-check" ></i></p>
                            </a>
                        </div>
                    </div>
                    <div style="border: 1px solid black;border-radius: 3px;" class="m-2" >
                      <div class="p-3 fnd-pic" >
                          <a href="#" style="text-decoration: none; display:flex; align-items:center; gap:20px ">
                              <img src="{% static 'images/avatar.jpg' %} " class="img-fluid" alt="" style="height:40px;   border-radius:50%;">
                              <p>Group 1 <i class="bi bi-patch-check prof-check" ></i></p>
                          </a>
                      </div>
                  </div>
             </div>

          </div>






    </div>
<style>
    .galary .col{
    padding-right:0;
    }
</style>
{% endblock %}