{% extends "enduser/base.html" %}

{% block title %}Pixify-Message{% endblock %}

{% block content %}
{%load static %}
<div class="px-3 py-3 mt-3"
    style="background-color: #1f0447e3;box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);font-family: serif;border-radius: 7px;">
    <div class="pt-1 pb-3 px-2 mb-2 fw-semibold" style="border: 1px solid black;border-radius: 3px;">
        <div class="p-2">
            <a href="#" style="text-decoration: none;">
                <i class="bi bi-person-fill" style="color:#f8c471;"></i>
                <span class="fw-semiboldS username" style="color:#f8c471;">Username</span>
            </a>
        </div>
        <div class="message-content">
            <a href="#" style="text-decoration: none;">
                <span class="ps-3 message">Message</span>
            </a>
        </div>
    </div>
    <div class="pt-1 pb-3 px-2 mb-2 fw-semibold" style="border: 1px solid black;border-radius: 3px;">
        <div class="p-2">
            <a href="#" style="text-decoration: none;">
                <i class="bi bi-person-fill" style="color:#f8c471;"></i>
                <span class="fw-semiboldS username" style="color:#f8c471;">Username</span>
            </a>
        </div>
        <div class="message-content">
            <a href="#" style="text-decoration: none;">
                <span class="ps-3 message">Message</span>
            </a>
        </div>
    </div>
    <div class="pt-1 pb-3 px-2 mb-2 fw-semibold" style="border: 1px solid black;border-radius: 3px;">
        <div class="p-2">
            <a href="#" style="text-decoration: none;">
                <i class="bi bi-person-fill" style="color:#f8c471;"></i>
                <span class="fw-semiboldS username" style="color:#f8c471;">Username</span>
            </a>
        </div>
        <div class="message-content">
            <a href="#" style="text-decoration: none;">
                <span class="ps-3 message">Message</span>
            </a>
        </div>
    </div>
</div> 
{% comment %} <div class="col-4 d-flex align-items-center justify-content-center"  data-bs-toggle="modal" data-bs-target="#addPhotosVideosModal" style="cursor: pointer;">
    <i class="bi bi-image-fill text-success me-2 fs-5"></i>
    <span>Photo/video</span>
</div>

<div class="modal fade" id="addPhotosVideosModal" tabindex="-1" aria-labelledby="addPhotosVideosModalLabel"
	aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content" >
			<div class="modal-header">
				<h5 class="modal-title" id="addPhotosVideosModalLabel">Create a Post</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="d-flex align-items-center mb-3">
					<img src="https://cdn-icons-png.flaticon.com/128/1144/1144760.png" alt="User Avatar"
						class="user-avatar me-2">
					<span class="fw-bold">Your Name</span>
				</div>
				<div class="mb-3">
					<textarea class="form-control" placeholder="What do you want to talk about?" rows="3"
						style="resize: none;"></textarea>
				</div>
			   
				<div class="mb-3" >
				  <form action="/upload" method="POST" class="button" id="form" >
					<label for="fileInput" class="file-upload-label" style="width: 100%;">
						<input type="file" class="form-control d-none" id="fileInput"  multiple id="input" >
						<p style="color:black;"  class="select">Drag and drop photos or videos, or click to browse</p>
						<i class="bi bi-image" style="color:black; font-size:22px;" class="inner"></i>
					</label>
				  </form>
				  <div class="con" >
					  
  
				  </div>
				</div> 
				
				<button type="button" class="btn btn-outline-primary w-100 mb-3">
					Add photos and videos from your mobile device
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Add to your post</button>
				<button type="button" class="btn btn-primary b_btn">Post</button>
			</div>
		</div>
	</div>

</div> {% endcomment %}


{% endblock %}