{% extends "../base.html" %}

{% block title %}Create User{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h2 class="text-info">Create User</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-4 mb-3">
                                {{ form.first_name.label }}
                                {{ form.first_name }}
                                {% if form.first_name.errors %}
                                    <div class="text-danger">{{ form.first_name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                {{ form.middle_name.label }}
                                {{ form.middle_name }}
                                {% if form.middle_name.errors %}
                                    <div class="text-danger">{{ form.middle_name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                {{ form.last_name.label }}
                                {{ form.last_name }}
                                {% if form.last_name.errors %}
                                    <div class="text-danger">{{ form.last_name.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="form-group col-md-6 mb-3">
                                {{ form.email.label }}
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="text-danger">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6 mb-3">
                                {{ form.hobbies.label }}
                                {{ form.hobbies }}
                                {% if form.hobbies.errors %}
                                    <div class="text-danger">{{ form.hobbies.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="form-group col-md-4 mb-3">
                                {{ form.dob.label }}
                                {{ form.dob }}
                                {% if form.dob.errors %}
                                    <div class="text-danger">{{ form.dob.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-4 mb-3">
                                {{ form.address.label }}
                                {{ form.address }}
                                {% if form.address.errors %}
                                    <div class="text-danger">{{ form.address.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    
                        <div class="text-start">
                            <a href="{% url 'user_list' %}" class="btn btn-sm btn-outline-secondary">Back</a>
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}