
{% extends "../base.html" %}

{% block title %}Update User{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h2 class="text-info">Update User</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="firstName">FirstName</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}" placeholder="Enter your first name">
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="middleName">MiddleName</label>
                                <input type="text" class="form-control" name="middle_name" id="middle_name" value="{{ user.middle_name }}" placeholder="Enter your middle name">
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="lastName">LastName</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}" placeholder="Enter your last name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}" placeholder="abc123@gmail.com">
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                <label for="hobbies">Hobbies</label>
                                <input type="text" class="form-control" id="hobbies" name="hobbies" value="{{ user.hobbies }}" placeholder="Enter hobbies (comma-separated)">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label for="gender" class="form-label">Gender</label>
                                <select id="gender" name="gender" value="{{ user.gender }}" class="form-select">
                                    {% for gender in choices_gender %}
                                        {% for name, value in gender.items %}
                                            <option value="{{ name }}">{{ value }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
            
                            <div class="col-md-4">
                                <label for="gender" class="form-label">Relationship Status</label>
                                <select id="relationship_status" name="relationship_status" value="{{ user.relationship_status }}" class="form-select">
                                    {% for choices_relationship in choices_relationship_status %}
                                        {% for name, value in choices_relationship.items %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
            
                            
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                <label for="dob">D.O.B</label>
                                <input type="date" name="dob" id="dob" value="{{ user.dob|date:'Y-m-d' }}" class="form-control">  
                            </div>
                            <div class="form-group col-md-6 col-lg-6 col-sm-12 mb-3">
                                <label for="address">Address</label>
                                <textarea type="text" name="address" class="form-control" id="address" value="" placeholder="Enter Address">{{ user.address }}</textarea>
                            </div>
                        </div>
                        <div class="text-start">
                            <a href="{% url 'user_list' %}" class="btn btn-sm btn-outline-secondary">Back</a>
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}