
{% extends "../base.html" %}

{% block title %}Update User{% endblock %}

{% block content %}

<div class="container-fluid my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h2 class="text-info">Update User</h2>
                </div>
                <div class="card-body">
                    <form method="post" id="user_form">
                        {% csrf_token %}
                        {{ data.user_form.as_p }}
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ user.first_name }}" placeholder="Enter your first name">
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="middleName">Middle Name</label>
                                <input type="text" class="form-control" name="middle_name" id="middle_name" value="{% if user.middle_name %}{{ user.middle_name }} {% endif %}" placeholder="Enter your middle name">
                            </div>
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" value="{{ user.last_name }}" placeholder="Enter your last name">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}" placeholder="Enter email">
                            </div>

                            <!-- Gender Dropdown -->
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="gender" class="form-label">Gender</label>
                                <select id="gender" name="gender" class="form-select">
                                    <option value="" {% if user.gender is none %}selected{% endif %}>Select Gender</option>
                                    {% for gender in choices_gender %}
                                        {% for key, value in gender.items %}
                                            <option value="{{ key }}" {% if key == user.gender %}selected{% endif %}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                        
                            <!-- Relationship Status Dropdown -->
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="relationship_status" class="form-label">Relationship Status</label>
                                <select id="relationship_status" name="relationship_status" class="form-select">
                                    <option value="" {% if user.relationship_status is none %}selected{% endif %}>Select Status</option>
                                    {% for relationship in choices_relationship_status %}
                                        {% for key, value in relationship.items %}
                                            <option value="{{ key }}" {% if key == user.relationship_status %}selected{% endif %}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                        
                        
                        <div class="row">
                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="hobbies">Hobbies</label>
                                <input type="text" class="form-control" id="hobbies" name="hobbies" value="{% if user.hobbies %}{{ user.hobbies }} {% endif %}" placeholder="Enter hobbies (comma-separated)">
                            </div>

                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="dob">D.O.B</label>
                                <input type="date" name="dob" id="dob" value="{{ user.dob|date:'Y-m-d' }}" class="form-control">  
                            </div>

                            <div class="form-group col-md-4 col-lg-4 col-sm-12 mb-3">
                                <label for="address">Address</label>
                                <textarea type="text" name="address" class="form-control" id="address" value="" placeholder="Enter Address">{% if user.address %}{{ user.address }} {% endif %}</textarea>
                            </div>
                        </div>
                        <div class="text-start">
                            <a href="{% url 'user_list' %}" class="btn btn-sm btn-outline-secondary">Back</a>
                            <button type="submit" class="btn btn-sm btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#user_form").validate({
            rules: {
                first_name: {
                    required: true,
                    minlength: 2,
                    maxlength: 50
                },
                last_name: {
                    required: true,
                    minlength: 2,
                    maxlength: 150
                },
                email: {
                    required: true,
                    maxlength: 150
                },
            },
            messages: {
                first_name: {
                    required: "Please enter firstname.",
                    minlength: "firstname must be at least 2 characters.",
                    maxlength: "firstname cannot exceed 50 characters."
                },
                last_name: {
                    required: "Please enter lastname.",
                    minlength: "lastname must be at least 2 characters.",
                    maxlength: "lastname cannot exceed 20 characters."
                },
                email: {
                    required: "Please enter email.",
                    maxlength: "email cannot exceed 50 characters."
                },
            }
        });
    });
</script>

{% endblock %}