{% extends "enduser/base.html" %}

{% block title %}Chat{% endblock %}


{% block content %}
{% load static %}
<div class="chat-container">
    <div class="chat-header">
        <div class="user-info">
            {% if chat.is_group %}
                <img src="{{chat.chat_cover|default:'\static\images\group_pic.png' }}" alt="Group Chat" class="profile-pic">
                <span class="username G-msg_chat-title">{{ chat.title }}</span>
            {% else %}
                <img src="{{ chat.chat_cover|default:'\static\images\avatar.jpg' }}" alt="Profile Picture" class="profile-pic">
                <span class="username P-msg_chat-title">{{ chat.title }}</span>
            {% endif %}
        </div>
    </div>
    <div class="chat-body">
        {% for message in messages %}
            {% if message.sender_id.id == user.id %}
                <!-- Sent Message Block -->
                <div class="message sent">
                    <div class="message-content">
                        <div class="message-header">
                            <img src="{{ message.sender_id.profile_photo_url|default:'\static\images\avatar.jpg' }}" alt="Sender Profile Pic" class="message-profile-pic">
                            <span class="message-username">{{ message.sender_id.first_name }}</span>
                        </div>
                        <span class="text-dark">{{ message.text }}</span>
                    </div>
                    <div class="message-footer">
                        <span class="time">{{ message.created_at|date:"h:i A" }}</span>
                        <div>
                            <i class="bi bi-three-dots-vertical" onclick="toggleOptions({{ message.id }})"></i>
                            <i class="bi bi-emoji-smile" onclick="toggleReactionPopup({{ message.id }})"></i>
                        </div>
                    </div>
                    <div class="options-popup" id="options-{{ message.id }}" style="display: none;">
                        {% if message.sender_id.id == user.id %}
                            <a href="#" onclick="editMessage('{{ message.id }}', '{{ message.text|escapejs }}')">Edit</a>
                        {% endif %}
                        <a href="#" onclick="deleteMessage('{{ message.id }}')">Delete</a>
                        <a href="#" onclick="replyToMessage('{{ message.id }}', '{{ message.sender.username }}', '{{ message.text|escapejs }}')">Reply</a>
                    </div>
                    <div class="reaction-container" id="reaction-container-{{ message.id }}">
                        <div class="reaction-popup" id="reaction-popup-{{ message.id }}" style="display: none;">
                            {% for reaction in reactions %}
                                <span onclick="reactionManager.addReaction('{{ message.id }}', '{{ reaction.id }}', '{{ reaction.value|escapejs }}')">
                                    {{ reaction.value|safe }}
                                </span>
                            {% endfor %}
                        </div>
                        <div class="reaction-display" id="reaction-display-{{ message.id }}"></div>
                    </div>
                    
                    <!-- Seen status (single or double tick) -->
                    <div class="seen-status">
                        {% if message.seen_by_all %}
                            <!-- Show double tick if seen by all -->
                            ✔️✔️
                        {% else %}
                            <!-- Show single tick if not seen by all -->
                            ✔️
                        {% endif %}
                    </div>
                </div>
                
            {% else %}
                <!-- Received Message Block -->
                <div class="message received float-end">
                    <div class="message-content">
                        <div class="message-header">
                            <img src="{{ message.sender_id.profile_photo_url|default:'\static\images\avatar.jpg' }}" alt="{{ message.sender_id.first_name }}'s Profile Picture" class="message-profile-pic">
                            <span class="message-username">{{ message.sender_id.first_name }}</span>
                        </div>
                        <span>{{ message.text }}</span>
                    </div>
                    <div class="message-footer">
                        <span class="time">{{ message.created_at|date:"h:i A" }}</span>
                        <div>
                            <i class="bi bi-three-dots-vertical" onclick="toggleOptions({{ message.id }})"></i>
                            <i class="bi bi-emoji-smile" onclick="toggleReactionPopup({{ message.id }})"></i>
                        </div>
                    </div>
                    <div class="options-popup" id="options-{{ message.id }}" style="display: none;">
                        {% if message.sender_id.id == user.id %}
                            <a href="#" onclick="editMessage('{{ message.id }}', '{{ message.text|escapejs }}')">Edit</a>
                        {% endif %}
                        <a href="#" onclick="deleteMessage('{{ message.id }}')">Delete</a>
                        <a href="#" onclick="replyToMessage('{{ message.id }}', '{{ message.sender.username }}', '{{ message.text|escapejs }}')">Reply</a>
                    </div>
                    <div class="reaction-container" id="reaction-container-{{ message.id }}">
                        <div class="reaction-popup" id="reaction-popup-{{ message.id }}" style="display: none;">
                            {% for reaction in reactions %}
                                <span onclick="reactionManager.addReaction('{{ message.id }}', '{{ reaction.id }}', '{{ reaction.value|escapejs }}')">
                                    {{ reaction.value|safe }}
                                </span>
                            {% endfor %}
                        </div>
                        <div class="reaction-display" id="reaction-display-{{ message.id }}"></div>
                    </div>
    

                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    <div class="chat-footer">
        <div id="reply-preview" style="display: none;">
            <div class="reply-message">
                <span class="close-reply" onclick="cancelReply()">✖</span>
                <span class="reply-username"></span>: <span class="reply-text"></span>
            </div>
        </div>
        
 <form id="messageForm" method="POST" action="{% url 'message_create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" id="action" name="action" value="create">
    <input type="hidden" id="chat_id" name="chat_id" value="{{ chat.id }}">
    <input type="hidden" id="message_id" name="message_id" value="">
    <input type="hidden" name="mentions" id="mentions">
    <input type="file" id="file-input" name="media_files" style="display: none;" accept="image/*,video/*" multiple>
    <div id="mentionModal" class="parmess-modal">
        <div class="parmess-modal-content" id="mention-suggestions"></div>
    </div>
    <div id="file-names" class="parmess-file-names"></div>
    <div class="message-input-wrapper">
        <button type="button" id="parmess-select-file-button" class="parmess-select-file-button">
            <i class="fa fa-paperclip"></i>
        </button>
        <input type="text" name="message" id="message-input" placeholder="Type your message here..." required>
        <button type="submit">➤</button>
    </div>
</form>
     

    </div>
    </div>

<script>

function setFormAction(action, messageId = '', chatId = '') {
    document.getElementById('action').value = action;
    document.getElementById('message_id').value = messageId;
    document.getElementById('chat_id').value = chatId || document.querySelector('input[name="chat_id"]').value;

    let formAction = '';
    if (action === 'reply') {
        formAction = `/chat/message-reply/${messageId}/`;
    } else if (action === 'update') {
        formAction = `/chat/message/${messageId}/update/`;
    } else if (action === 'delete') {
        formAction = `/chat/message/${messageId}/delete/`;
    } else {
        formAction = `/chat/message/create/`;
    }
    document.getElementById('messageForm').action = formAction;
}


$(document).ready(function () {
    var mentionedUsers = new Set();
    var excludedUsers = new Set();
    var mentionedAll = false;
    var mentionTriggered = false;

    function updateMentionedUsers(messageText) {
        var mentionedRegex = /@(\w+)/g;
        var match;
        var newMentionedUsers = new Set();
        
        while ((match = mentionedRegex.exec(messageText)) !== null) {
            var userId = match[1];
            if (userId === 'all') {
                mentionedAll = true;
                newMentionedUsers.add('all');
            } else {
                var userElement = $(`.mention-item[data-member-id="${userId}"]`);
                if (userElement.length > 0) {
                    var actualUserId = userElement.data('member-id');
                    newMentionedUsers.add(actualUserId);
                }
            }
        }
        
        // Handle removed users
        mentionedUsers.forEach(user => {
            if (!newMentionedUsers.has(user)) {
                excludedUsers.add(user);
            }
        });
        
        // Handle newly added users
        newMentionedUsers.forEach(user => {
            if (!mentionedUsers.has(user)) {
                excludedUsers.delete(user);
            }
        });

        // Update mentioned users set
        mentionedUsers = new Set([...newMentionedUsers]);
        console.log("Updated mentioned users:", Array.from(mentionedUsers));
        console.log("Updated excluded users:", Array.from(excludedUsers));
    }

    $('#message-input').on('input', function () {
        var messageText = $(this).val();
        var cursorPosition = this.selectionStart;
        var lastChar = messageText.charAt(cursorPosition - 1);

        if (lastChar === '@') {
            mentionTriggered = true;
            displayMentionList('');
        } else if (lastChar === ' ' || lastChar === '') {
            $('#mentionModal').hide();
        } else if (mentionTriggered) {
            var atIndex = messageText.lastIndexOf('@');
            if (atIndex !== -1 && cursorPosition > atIndex + 1) {
                var searchQuery = messageText.slice(atIndex + 1, cursorPosition).trim();
                if (searchQuery.length > 0) {
                    displayMentionList(searchQuery);
                } else {
                    $('#mentionModal').hide();
                }
            }
        }
        
        updateMentionedUsers(messageText);
    });

    function displayMentionList(searchQuery) {
        var chatId = $('#chat_id').val();
        var excludeUsers = Array.from(excludedUsers).join(',');

        console.log("Search Query:", searchQuery);
        console.log("Exclude Users:", excludeUsers);
        console.log("Mentioned All:", mentionedAll);

        $.ajax({
            url: `/message-mention/${chatId}?search=${encodeURIComponent(searchQuery)}&exclude=${encodeURIComponent(excludeUsers)}&mentionedAll=${mentionedAll}`,
            type: 'GET',
            success: function (res) {
                if (Array.isArray(res) && res.length > 0) {
                    var mentionSuggestions = $('#mention-suggestions');
                    mentionSuggestions.empty();

                    res.forEach(function (mention) {
                        var mentionItem = createMentionItem(mention);
                        mentionSuggestions.append(mentionItem);
                    });

                    $('#mentionModal').show();
                } else {
                    console.log("No mentions found");
                    $('#mentionModal').hide();
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    }

    function createMentionItem(mention) {
        if (mention.member_id === 'all') {
            return `
                <div class="mention-item" data-member-id="${mention.member_id}">
                    <i class="fas fa-users" style="font-size:24px; color:black"></i>
                    @All
                </div>
            `;
        } else {
            return `
                <div class="mention-item" data-member-id="${mention.member_id}">
                    <img src="${mention.member_id__profile_photo_url}" alt="${mention.member_id__first_name}'s profile photo" class="profile-photo">
                    @${mention.member_id__first_name} ${mention.member_id__last_name}
                </div>
            `;
        }
    }

    $('#mention-suggestions').on('click', '.mention-item', function () {
        var mentionText = $(this).text().trim();
        var messageInput = $('#message-input');
        var messageText = messageInput.val();
        var cursorPosition = messageInput[0].selectionStart;
        var newText = messageText.slice(0, messageText.lastIndexOf('@')) + mentionText + ' ' + messageText.slice(cursorPosition);

        messageInput.val(newText);
        messageInput.focus();

        var userId = $(this).data('member-id');
        if (userId === 'all') {
            mentionedAll = true;
            mentionedUsers.add('all');
        } else {
            mentionedUsers.add(userId.toString());
            excludedUsers.delete(userId.toString());
        }

        $('#mentionModal').hide();
        mentionTriggered = false;
    });

    $('#message-input').on('keyup', function () {
        var messageText = $(this).val();
        updateMentionedUsers(messageText);
    });

    $('#messageForm').on('submit', function () {
        var excludeUsers = Array.from(excludedUsers).join(',');
        $('<input>').attr({
            type: 'hidden',
            name: 'mentions',
            value: Array.from(mentionedUsers).join(',')
        }).appendTo('#messageForm');
        $('<input>').attr({
            type: 'hidden',
            name: 'exclude',
            value: excludeUsers
        }).appendTo('#messageForm');
        console.log("Form submitted with mentions:", Array.from(mentionedUsers));
        console.log("Form submitted with exclude:", excludeUsers);
    });

    $(window).on('click', function (event) {
        if ($(event.target).is('#mentionModal')) {
            $('#mentionModal').hide();
        }
    });
});


    function toggleOptions(messageId) {
        const popup = document.getElementById('options-' + messageId);
        popup.style.display = popup.style.display === 'none' ? 'block' : 'none';
    }

    function toggleReactionPopup(messageId) {
        const popup = document.getElementById('reaction-popup-' + messageId);
        popup.style.display = popup.style.display === 'none' ? 'flex' : 'none';
    }
  
 
    class ReactionManager {
        constructor() {
            this.reactionContainers = {};
        }
    
        init(messageId) {
            const container = document.getElementById(`reaction-container-${messageId}`);
            if (!container) {
                console.error(`Reaction container not found for messageId: ${messageId}`);
                return;
            }
            this.reactionContainers[messageId] = container;
            this.loadReactions(messageId);
        }
    
        addReaction(messageId, reactionId, reactionValue) {
            const popup = document.getElementById(`reaction-popup-${messageId}`);
            const data = {
                message_id: messageId,
                reaction_id: reactionId,
                reaction_value: reactionValue,
            };
    
            fetch('/message-reaction/create/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                .then((responseData) => {
                    if (responseData.success) {
                        if (popup) popup.style.display = 'none'; // Automatically hide popup
                        this.loadReactions(messageId); // Reload reactions dynamically
                    } else {
                        console.error('Failed to add reaction:', responseData.error);
                    }
                })
                .catch((error) => {
                    console.error('Error while adding reaction:', error);
                });
        }
    
        loadReactions(messageId) {
            const display = document.getElementById(`reaction-display-${messageId}`);
            if (!display) {
                console.error(`Reaction display not found for messageId: ${messageId}`);
                return;
            }
        
            fetch(`/message-reactions/${messageId}/`)
                .then((response) => response.json())
                .then((data) => {
                    display.innerHTML = '';
        
                    const uniqueReactions = new Map();
                    data.reactions.forEach((reaction) => {
                        const { reaction: reactionType, reaction_count: count } = reaction;
                        uniqueReactions.set(reactionType, count);
                    });
        
                    uniqueReactions.forEach((count, reactionType) => {
                        const reactionElement = document.createElement('span');
                        reactionElement.innerHTML = `${reactionType} ${count}`;
                        reactionElement.style.marginRight = '10px';
                        reactionElement.style.cursor = 'pointer';
        
                        reactionElement.addEventListener('click', () => this.deleteReaction(messageId));
        
                        // Handle long press event to show reaction details modal
                        let pressTimer;
                        reactionElement.addEventListener('mousedown', (e) => {
                            e.preventDefault(); // Prevent other interactions
                            pressTimer = setTimeout(() => this.showReactionDetailsModal(messageId, reactionType), 500);
                        });
                        reactionElement.addEventListener('mouseup', () => clearTimeout(pressTimer));
                        reactionElement.addEventListener('mouseleave', () => clearTimeout(pressTimer));
        
                        display.appendChild(reactionElement);
                    });
                })
                .catch((error) => {
                    console.error('Error while loading reactions:', error);
                });
        }
        
        showReactionDetailsModal(messageId, reactionType) {
            // Fetch the details for the selected reaction
            fetch(`/reaction-details/${messageId}/${reactionType}/`)
                .then(response => response.json())
                .then(data => {
                    const modal = document.createElement('div');
                    modal.classList.add('message-modal'); // Use the updated class name for modal
                    modal.innerHTML = `
                        <div class="message-modal-content" id="msg-ul"> <!-- Use the updated content class -->
                            <span class="close-btn">&times;</span>
                            All (${data.reaction_count})<hr>
                            <ul id="msg-ul">
                                ${data.users.map(user => `<p><img src ="${user.photo}"style= "height:25px;width:25px; border-radius:50%"><strong  id="msg-ul">${user.name}</strong><strong style="margin-left:70px;">${user.reaction}</strong></p>`).join('')}
                            </ul>
                        </div>
                    `;
                    document.body.appendChild(modal);
        
                    // Close the modal when the user clicks on the close button
                    modal.querySelector('.close-btn').addEventListener('click', () => {
                        document.body.removeChild(modal);
                    });
        
                    // Display the modal
                    modal.style.display = 'block';
                })
                .catch(error => {
                    console.error('Error while fetching reaction details:', error);
                });
        }
        
        
        
        deleteReaction(messageId) {
            const data = { message_id: messageId };
    
            fetch('/message-reaction/delete/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify(data),
            })
                .then((response) => response.json())
                .then((responseData) => {
                    if (responseData.success) {
                        this.loadReactions(messageId); // Reload reactions dynamically
                    } else {
                        console.error('Failed to delete reaction:', responseData.error);
                    }
                })
                .catch((error) => {
                    console.error('Error while deleting reaction:', error);
                });
        }
    }
    
    const reactionManager = new ReactionManager();
    document.addEventListener('DOMContentLoaded', () => {
        const messageIds = [...document.querySelectorAll('.reaction-container')].map(container =>
            container.id.split('-')[2]
        );
        messageIds.forEach((messageId) => {
            reactionManager.init(messageId);
        });
    });


    function editMessage(messageId, content) {
        const messageInput = document.querySelector('input[name="message"]');
        messageInput.value = content;
        messageInput.focus();
        setFormAction('update', messageId);
    }

    function deleteMessage(messageId) {
    setFormAction('delete', messageId);  // Dynamically set the form action to delete the message
    document.getElementById('messageForm').submit();  // Submit the form
}


    function replyToMessage(messageId, username, content) {
    const messageInput = document.querySelector('input[name="message"]');
    document.getElementById('reply-preview').style.display = 'block';
    document.querySelector('.reply-username').textContent = username;
    document.querySelector('.reply-text').textContent = content;

    messageInput.focus();
    setFormAction('reply', messageId);
}

function cancelReply() {
    document.getElementById('reply-preview').style.display = 'none';
    setFormAction('create');
}

    document.addEventListener('click', function (event) {
        if (!event.target.closest('.options-popup') && !event.target.closest('.bi-three-dots-vertical')) {
            document.querySelectorAll('.options-popup').forEach(popup => popup.style.display = 'none');
        }
    });

    // Function to scroll the chat body to the bottom
function scrollToBottom() {
    const chatBody = document.querySelector('.chat-body');
    chatBody.scrollTop = chatBody.scrollHeight;
}

// Scroll to the bottom on page load
document.addEventListener('DOMContentLoaded', function () {
    scrollToBottom();
});

// Scroll to the bottom when a new message is added
const chatBody = document.querySelector('.chat-body');
const observer = new MutationObserver(scrollToBottom);

observer.observe(chatBody, { childList: true });

</script>







<style>
    #msg-ul{
        background-color:#ffffff;
        color:black;
        padding-left:10px;

    }
    /* Overall Chat Container */
    .chat-container {
        height: 650px;
        background-color: #211237f2; /*shubhankar change only color*/
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 600px;
        margin: 0 auto;
        font-family: 'Arial', sans-serif;
        color: black;  /* Set default text color to black */
    }

    /* Header */
    .G-msg_chat-title {
        display: block;         
        width: 35%;             
        white-space: nowrap;    
        overflow: hidden;        
        text-overflow: ellipsis; 
    }
    .P-msg_chat-title {
        display: block;         
        width: 70%;             
        white-space: nowrap;    
        overflow: hidden;        
        text-overflow: ellipsis; 
    }
    .chat-header {
        background-color: #533b79;
        color: white;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px 10px 0 0;
    }

    .user-info {
        display: flex;
        align-items: center;
    }

    .profile-pic {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 20px;
        object-fit: cover;
    }

    .username {
        font-size: 22px;
        font-weight: bold;
        color: white;
    }

    /* Chat Body */
    .chat-body {
        flex: 1;
        padding: 20px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        scrollbar-width: thin; /* For Firefox */
        scrollbar-color: #c7c5c5 #f2f2f2;
    }
        /* Customize scrollbar for Webkit browsers */
    .chat-body::-webkit-scrollbar {
        width: 8px;
    }

    .chat-body::-webkit-scrollbar-thumb {
        background-color: #c7c5c5;
        border-radius: 10px;
    }

    .chat-body::-webkit-scrollbar-track {
        background-color: #f2f2f2;
    }


    .message {
        max-width: 80%;
        margin-bottom: 12px;
        padding: 12px 15px;
        border-radius: 20px;
        position: relative;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        background-color: #ffffff;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
        word-wrap: break-word; 
        overflow-wrap: break-word; 
        word-break: break-word;
    }

    .message.sent {
        align-self: flex-end;
        background-color:rgba(50, 251, 226, 0.3); /*shubhankar change only color*/
        color: white;
    }

    .message.received {
        align-self: flex-start;
        background-color:#3b1fa0ab ; /*shubhankar change only color*/
        color: #333333;
    }

    .message-content {
        margin-bottom: 25px;
        position: relative;
    }

    /* Profile Picture inside Message */
    .message-header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }

    .message-profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px;
    }

    .message-username {
        font-weight: bold;
        color: #fff;
        font-size: 14px;
    }

    .message-footer {
        position: absolute;
        bottom: 5px;
        right: 5px;
        font-size: 12px;
        color: #888;
        display: flex;
        align-items: center;
    }

    .message-footer .time {
        margin-right: 10px;
    }

    .message-footer .bi-three-dots-vertical {
        cursor: pointer;
        font-size: 18px; /* Smaller icon */
        margin-left: 5px;
    }

/* shubhankar */
/* start */
    .options-popup {
    position: absolute; 
    top: 20px;         
    left: 50%;         
    transform: translateX(-50%); 
    z-index: 1000;    
    width: 100px;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;   
    border-radius: 8px;
    padding: 16px;
    }
    /* end */

    .options-popup a {
        display: block;
        padding: 5px;
        padding-left: 10px;
        color: #333;
        text-decoration: none;
        border-bottom: 1px solid #ccc;
    }

    .options-popup a:hover,
    .options-popup .delete-btn:hover {
        background-color: #f2f2f2;
    }

    .delete-btn {
        background: none;
        color: red;
        border: none;
        cursor: pointer;
    }

    /* Footer */
    .chat-footer {
        padding: 12px;
        background-color: #e6e6e6;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .chat-footer form {
        display: flex wrap;
        flex: 1;
        align-items: center;
    }

    .chat-footer input[type="text"] {
        width:77%;
        flex: 1;
        padding: 12px;
        font-size: 14px;
        border-radius: 25px;
        border: 1px solid #c7c5c5;
        outline: none;
        background-color: #333333;
        color: white;
        margin-right: 10px;
    }

    .chat-footer button {
        padding: 12px 20px;
        background-color: #533b79;
        color: white;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        font-size: 16px;
    }

    .chat-footer button:hover {
        background-color: #3e2b5c;
    }


/*start A*/
    .dropdown {
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        max-height: 150px;
        overflow-y: auto;
        z-index: 10;
    }

    
.mention-item {
    padding: 10px;
    cursor: pointer;
    color: #333; /* Default text color */
}
    .mention-item:hover {
        background-color: #f0f0f0;
    }

    #mention-suggestions {
        transform: translateY(-100%);
        margin-bottom: 10px;
    }
    .message-footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }
    
    .bi-emoji-smile {
        font-size: 20px;
        cursor: pointer;
        color: red; /*shubhankar change only color*/
    }
    
    .bi-emoji-smile:hover {
        color: black;
    }
    
    .reaction-popup {
        display: flex;
        position: absolute;
        bottom: -40px;
        right: 0;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 5px;
        z-index: 10;
    }
    
    .reaction-popup span {
        margin: 5px;
        cursor: pointer;
        font-size: 18px;
    }
    
    .reaction-popup span:hover {
        transform: scale(1.2);
        transition: 0.3s;
    }
    
    .reaction-display {
        margin-top: 5px;
        display: flex;
        gap: 5px;
        font-size: 14px;
    }
    
    .reaction-display span {
        border-radius: 10px;
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        font-weight: bold;
    }
    /*end A*/
    
    /*Start Partha*/

    .parmess-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .parmess-modal-content {
        background-color: #fefefe;
        margin-top: 21%;
        margin-left: 33%;
        padding: 20px;
        border: 1px solid #888;
        width: 250px;
        max-height: 40%;
        overflow-y: auto;
    }

    .parmess-close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .parmess-close:hover,
    .parmess-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .mention-item:hover {
        background-color: #ddd;
        color: #000;
    }

    .profile-photo {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .parmess-file-names {
        margin-bottom: 10px;
        font-size: 14px;
        color: black;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }

    .parmess-file-name, .parmess-file-count {
        width: 100%;
        color: black;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calc(100% - 20px);
        padding: 2px 5px;
        background-color: #786e6e;
        border-radius: 3px;
    }

    .message-input-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
    }

    /*End Partha*/  
    
    .message-modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
        padding-top: 60px;
    }
    
    .message-modal .message-modal-content {
        background-color: #151212;
        margin: 5% auto;
        padding: 16px;
        border: 1px solid #888;
        margin-top: 26%;
        margin-right: 34%;
        max-width: 325px;
    }
    
    .message-modal .close-btn {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .message-modal .close-btn:hover,
    .message-modal .close-btn:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    
</style>
{% endblock %} add a action when i type "@" in the form 