{% extends "base.html" %}

{% block title %}User List{% endblock %}

{% block content %}

<h1>Update User</h1>
<form method="post">
    {% csrf_token %}
    <label>First Name:</label>
    <input type="text" name="first_name" value="{{ user.first_name }}" required>
    <label>Last Name:</label>
    <input type="text" name="last_name" value="{{ user.last_name }}" required>
    <label>Email:</label>
    <input type="email" name="email" value="{{ user.email }}" required>
    <button type="submit">Update</button>
</form>
<a href="{% url 'user_detail' user.id %}">Cancel</a>


{% endblock %}