/* story */


.stories-container{
    max-width: 600px;
    margin: 25px auto;
    position: relative;
}
.stories-container .previous-btn,
.stories-container .next-btn,
.stories-full-view .previous-btn,
.stories-full-view .next-btn{
    width: 30px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444;
    color: #222;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    cursor: pointer;
} 
.stories-container .previous-btn,
.stories-full-view .previous-btn{
    left: 8px;

}
/* .stories-container .previous-btn,
.stories-container .next-btn{
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}
.stories-container .previous-btn .active1,
.stories-container .next-btn .active1{
    opacity: 1;
    pointer-events: auto;

} */

.stories-container .next-btn,
.stories-full-view .next-btn{
    right: 8px;
}

.stories-container .story{
    height: 180px;
    width: 120px;
    flex-shrink: 0;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.stories-container .story img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.stories-container .stories{
    display: flex;
    gap: 8px;
}
.stories-container .content{
    overflow-x: scroll; 
}
.stories-container .content::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
}
.stories-container .author{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: black;
    background: linear-gradient(transparent ,#222 130%);
}

.plus-btn{
    margin-top: -50px;
}
.stories-full-view{
    position: fixed;
    margin-top: 58px;
    inset: 0;
    z-index: 5;
    background:rgb(0,0,0,0.9) ;
    place-items: center; 
    display: none;
}
.stories-full-view.actived{
     display:block !important;
}

.stories-full-view .close-btn{
    position: absolute; 
    left: 95%;
    width: 45px;
    background-color: #444;
    color: #fff;
    border-radius: 50%; 
    padding: 10px;
    display: flex; 
    cursor: pointer;
    font-size: 18px;
}
.stories-full-view .story{
    height: 100%;
    text-align: center;
}
.stories-full-view .story .user-profile{
    position: relative;
    bottom:240px ;
    margin-left: 10px;


}
.stories-full-view .story .user-profile img{
    width: 38px;
    height: 38px;
    border-radius: 50%; 
    border: 4px solid #45abff;

}
.stories-full-view .content{
    height: 85vh;
    width: 100%;
    max-width: 700px; 
    position: relative;
    padding-top: 38px;
    scroll-behavior: smooth;
}
.stories-full-view .story img{
    height: 100%;
    aspect-ratio: 10/16;
    object-fit: cover;
    border-radius: 16px;
}
.stories-full-view .author{
    position:absolute; 
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto" sans-serif ;
    font-size: 18px; 
}
.profile{ 
    position: relative;
    margin-top: -170px;
    margin-left: 8px;
    border: 3px solid #ff2bbf;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden; 
    background:relative; 
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
}
/* story css end */