@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Start CSS for Nav Bar by Priya Mitra */

* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.navlogo {
    display: flex;
    margin-left: 100px;
}

.topnav {
    width: 220px;
    height: 35px;
    /* margin-top: 6px; */

}

#navbarNav i {
    font-size: 20px;
}

#navbarNav ul {
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#navbarNav li:hover {
    border-bottom: 1px solid #f3f3f0;

}

#navbarNav {
    margin-right: 160px;
    justify-content: space-around;
    justify-content: center;
    align-items: center;

}

#but {
    height: 40px;
    border: 2px rgb(163, 120, 120);
    color: white;
    margin-right: 100px;
    background-color: rgb(61, 61, 107);
    width: 150px;
    display: flex;
    justify-content: center;

    border-radius: 20px;
}

#but button {
    border: none;
    outline: none;
    width: 150px;
    border-radius: 20px;
}

.btn1 {
    background-color: rgb(26, 26, 58);
}




#search__container input {
    width: 100%;
    padding: 10px 24px;
    outline: none;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #fffffa;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;

    border: 2px solid #a1a19e;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
        letter-spacing: 1.5px;
        color: #cec5f3;
    }
}

i {
    cursor: pointer;
}


#idsearchbtn {
    border: none;
    outline: none;
    border-radius: 20px;
    margin-left: 10px;
}

#searchin {
    background-color: rgb(54, 54, 117);
}



#login {
    border-radius: 17px;
    width: 150px;
    background-color: rgb(61, 61, 107);
}

.modal-content {
    width: 400px;

    background-color: rgb(33, 16, 49);
}

.modal-content input {
    margin: auto;

    border-radius: 18px;
    outline: none;
}

.modal-content label {
    margin: auto;
    justify-content: center;
    align-items: center;


}

.sec {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;

}

.sec a {
    text-decoration: underline;

}

/* End CSS for Nav Bar by Priya Mitra */


/* Start CSS for Message by Badhan Sarkar*/

/*
a {
    text-decoration: none;
    color: #f1b205d6;
}

a:hover {
    color: #f2d78d;
}

a:active {
    color: white;
}

.message {
    color: white;
}


body {
    background-color: #1f0447e3;
    font-family: Arial, sans-serif;
}


.message-container {
    background-color: #1f0447e3;
    border-radius: 0px;
    padding: 10px;
    margin: 10px 0;
    color: #1f0447e3;
    box-shadow: 0px 0px 0px 2px black;

}

.message-header {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #f8c471;
}

.message-header i {
    color: #f8c471;
}

.message-content {
    margin-top: 5px;
    color: #fdfdfd;
}


.users {
    height: 200.8px;
    border: 0.5px solid black;

    background-color: #1f0447e3;
    position: absolute;
    bottom: 45%;
    left: 60%;
    transform: translate(-80%);
    border-color: #1f0447e3;
    padding: 10px;
    margin: 15px;
    width: 33%;
} */

/* End CSS for Message by Badhan Sarkar */

/* Start CSS for Home Page by Rima Das */
.container {
    /* margin-top: 10px; */
    margin-left: -15px;
}

.post-section {
    width: 750px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(32, 5, 52);
    /* border-radius: 8px; */
}

.post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.mainStyle {
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgb(42, 13, 71);
    background-color: rgb(35, 10, 59);
}

.fileInputStyle {
    display: flex;
    align-items: center;
    background-color: rgb(51, 14, 87);
    font-size: 22px;
    color: white;
    font-weight: bold;
    /* padding: 10px; */
}

.browseStyle {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: rgb(47, 12, 64);
    padding: 10px;
    font-size: 22px;
}

/* End CSS for Home Page by Rima Das */

/* Start CSS for Left Side Bar by Shribash */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

} */

.left-siteber-opt-ul li {
    list-style: none;
    padding-left: none;

}

.left-siteber-opt-ul li a {
    color: #fff;
    font-weight: 500;
    padding: 2px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.25rem;

}

.left-siteber-opt-ul li a i {
    width: 30px;
    text-align: center;


}

.left-sidebar-fech a {
    text-decoration: none;

}

.left-sidebar-text h3 {
    color: #fff;
}

.left-sidebar-text p {
    color: blueviolet;
    padding-left: 20px;
}

/* End CSS for  Left Side Bar by Shribash*/