/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*Start CSS for Nav Bar by Priya Mitra */

* {
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-family: "Ubuntu", sans-serif;
}

.navlogo {
    display: flex;
    margin-left: 100px;
}

nav {
    position: fixed;
    top: 0;
}

.topnav {
    /* width: 220px; */
    height: 35px;
    /* margin-top: 6px; */

}

#navbarNav i {
    font-size: 20px;
}

#navbarNav ul {
    gap: 40px;
    justify-content: center;
    align-items: center;
    position: fixed;
}

/* #navbarNav li:hover {
    border-bottom: 1px solid #f3f3f0;

} */

/* #navbarNav {
    margin-right: 160px;
    justify-content: space-around;
    justify-content: center;
    align-items: center;

} */

#but {
    height: 40px;
    border: 2px rgb(163, 120, 120);
    color: white;
    margin-right: 100px;
    background-color: rgb(61, 61, 107);
    width: 110px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

#but button {
    border: none;
    outline: none;
    width: 100px;
    border-radius: 20px;
}

.btn1 {
    background-color: rgb(26, 26, 58);
}




#search__container input {
    width: 100%;
    padding: 10px 24px;
    outline: none;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    color: #fffffa;
    background-color: transparent;
    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); */
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;

    border: 2px solid #a1a19e;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

    &::placeholder {
        letter-spacing: 1.5px;
        color: #cec5f3;
    }
}

i {
    cursor: pointer;
}


#idsearchbtn {
    border: none;
    outline: none;
    border-radius: 20px;
    margin-left: 10px;
}

#searchin {
    background-color: rgb(54, 54, 117);
}



#login {
    border-radius: 17px;
    width: 150px;
    background-color: rgb(61, 61, 107);
}

.modal-content {
    width: 400px;

    background-color: rgb(33, 16, 49);
}

.sec {
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;


}


.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
}

.nav-link.active {
    color: white;
}

.text-t {
    color: #975fec;
}

/* userprofile */

.prof-ul li a {
    font-size: 16px;
    text-decoration: none;
}


.prof-ul li {

    list-style: none;

}

.sec a {
    text-decoration: underline;

}

.profile {
    display: flex;
    justify-content: space-around;
}

#p-pic img {
    padding: 15px 20px;
    height: 180px;
    border-radius: 50%;
}

.prof-li ul {
    padding: 10px;

}

.prof-check {
    color: rgb(71, 255, 47);
    font-size: 12px;
    position: absolute;
    left: 100px;
    top: 10px;

}

.verify-Icon-div {
    position: relative;
}

.verify-Icon {
    color: rgb(71, 255, 47);
    font-size: 12px;
    position: absolute;
    left: 63px;
    top: -2px;
}


.prof-li ul i {
    color: rgba(172, 57, 147, 0.973);
    margin-bottom: 8px;
    padding: 5px;
}

.prof-btn {
    background-color: rgb(33, 35, 75);
    height: auto;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}

.prof-btn:hover {
    background-color: rgb(54, 57, 122);
}






.search_btn{
    border-radius: 0 15px 10px 0 !important;
    background-color: rgba(176, 175, 179, 0.3) !important;
    
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
   
}

.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(176, 175, 179, 0.3) !important;
    border:0 !important;
    color:white !important;
}


.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}   .card{
    height: 500px;
    border-radius: 15px !important;
background-color: transparent;
} .chat{
    margin-top: auto;
    margin-bottom: auto;
} 

#send-btn{
    display: flex;
    justify-content: space-between;

    
}


/* add new css */
.img_cont img{
    position: relative;
    height: 70px;
    width: 70px;
}

.search_btn{
    border-radius: 0 15px 10px 0 !important;
    background-color: rgba(176, 175, 179, 0.3) !important;
    
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
   
}
.user_img
{
        height: 70px;
        width: 70px;
        border:1.5px solid #f5f6fa;
    
    }

    

.search-inp{
    border-radius: 15px 0 0 15px !important;
        background-color: rgba(176, 175, 179, 0.3) !important;
        border:0 !important;
        color:white !important;
}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.search_btn i{
    font-size: 25px;
}
.user_info span{
    font-size: 20px;
    color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid rgb(14, 14, 14);
} 
.user_img
{
        height: 70px;
        width: 70px;
        border:1.5px solid #f5f6fa;
    
    }
.img_cont{
        position: relative;
        height: 70px;
        width: 70px;
}
.active{
        background-color: rgba(107, 99, 99, 0.3);
}
  .request{
        list-style: none;
        padding: 0;
    }
    .request li{
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }
    .request li:hover{
background-color: rgba(107, 99, 99, 0.3);
    }

    .search_btn{
        border-radius: 0 15px 10px 0 !important;
		background-color: rgba(176, 175, 179, 0.3) !important;
        
        border:0 !important;
        color: white !important;
        cursor: pointer;
    }
  .contacts_body{
        padding:  0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;
       
    }
   /* .user_info button{
    width: 120px;
    
   } */

   /* #req-btn{
    display: flex;
   justify-content: space-between;
   gap: 20px;
   } */
 .search{
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(176, 175, 179, 0.3) !important;
        border:0 !important;
        color:white !important;
    }


    .card-header{
        border-radius: 15px 15px 0 0 !important;
        border-bottom: 0 !important;
    }@media(max-width: 576px){
.contacts_card{
    margin-bottom: 15px !important;
}
}   .card{
        height: 500px;
        border-radius: 15px !important;
    background-color: transparent;
    } .chat{
        margin-top: auto;
        margin-bottom: auto;
    } 

    #send-btn{
        display: flex;
        justify-content: space-between;

        
    }












/* End CSS for Nav Bar by Priya Mitra */


/* Start CSS for Message by Badhan Sarkar*/



/* End CSS for Message by Badhan Sarkar */

/* Start CSS for Home Page by Rima Das */
.body {
    background-color: #1f0447e3;
    margin-left: 20px;
    margin-top: 15px;
}

textarea::placeholder {
    color: white;
    opacity: 1;
}

.textAreaStyle {
    /* width: 870px; */
    padding: 10px;
    border-radius: 10px;
}

.post-section {
    /* width: 900px; */
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(16, 3, 26);

    margin-right: 5px;
}

.post-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 10px;

}

.form-control[type=file]:not(:disabled):not([readonly]) {
    background-color: rgb(35, 10, 59);
    border: none;
}

/* .mainStyle {
    width: 900px;
    margin-right: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border: 2px solid rgb(42, 13, 71);
    background-color: #1f0447e3;
} */

.fileInputStyle {
    border: none;
    display: flex;
    align-items: center;
    background-color: rgb(35, 10, 59);
    /* font-size: 22px; */
    color: white !important;
    /* font-weight: bold; */
    padding: 10px;
    border-radius: 10px;
}

.browseStyle {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    background-color: rgb(37, 7, 49);
    padding: 10px;
    font-size: 22px;
    border-radius: 10px;
}

#postText::placeholder {
    color: white;
}


/* End CSS for Home Page by Rima Das */

/* Start CSS for Left Side Bar by Shribash */

.left-siteber-opt-ul li {
    list-style: none;
    padding-left: none;

}

.left-siteber-opt-ul li a {
    color: #fff;
    font-weight: 500;
    padding: 2px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1.25rem;

}

.left-siteber-opt-ul li a i {
    width: 30px;
    text-align: center;


}

.left-sidebar-fech a {
    text-decoration: none;

}

.left-sidebar-text h3 {
    color: #fff;
}

.left-sidebar-text p {
    color: blueviolet;
    padding-left: 20px;
}
/* 12/11/2024 tuesday */

.post-center{ 
    width: 100%;
    background-color: #03072ecc; 
    margin-left: 15px; 
    outline: none; 
    background-color: #1f0447e3;
    box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);
    font-family: serif; 
}
.post-box{
    height: 70%;
    width: 100%;
    margin-top: 28px;
    background-color: #1f0447fb;
    border: 2px solid #1a033bfb ;
}
.post-center .post-box .post-top { 
    display: flex;
    height: 38px;
    width: 100%;
   padding: 8px;
   background-color: #260557fb; 
   flex-direction: row; 

}
.post-center .post-box .post-top a{
    text-decoration: none;
    color: #f3f3f0; 
}
.post-center .post-box .post-top .u-name{ 
    padding-left: 15px;
}
.post-center .post-box .post-top img{
   padding: auto;
   margin-top: -3px;
}
.post-center .post-box .post-des-img img{
    background-color: #1f0447fb; 
    height:60%;
    width: 100%;
    padding: 0 10px 10px 10px;  
}

.post-center .post-box .post-des-img .post-text .text-in{
    height: 50px; 
    

}
.post-center .post-box .post-des-img .post-text .text-in input{
    height: 50px;
    width: 100%;
    background-color: #1f0447e3;  
    text-decoration: none;
    outline: none; 
    border: none;
    padding-left: 12px;
}

/* .post-center .post-box .post-des-img p{
    padding-left: 10px;
} */


/* .post-center .post-box .post-des-img img{
    height: 80%; 
} */
.post-react-det{ 
    height: 38px;
    width: 100%;
    display: flex;  
    justify-content: space-between; 
    background-color: #260557fb;

}
.post-react{
    display: flex;   
}
.post-react i{ 
    padding: 10px;
    padding-top: 10px;
    font-size: 18px; 
    color:rgba(172, 57, 147, 0.973);
}
.post-react .post-pe-icon{ 
    padding: 10px;
    padding-top: 10px;
    font-size: 15px; 
    color:rgb(253, 74, 74);
}
.post-date-time p{
    padding-top: 10px; 
    padding-right: 5px;
    font-size: 13px;
}

/* story */

.stories-container{
    max-width: 600px;
    margin: 25px auto;
    position: relative;
}
.stories-container .previous-btn,
.stories-container .next-btn,
.stories-full-view .previous-btn,
.stories-full-view .next-btn{
    width: 30px;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444;
    color: #222;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    
}
.stories-container .previous-btn,
.stories-full-view .previous-btn{
    left: 8px;

}
/* .stories-container .previous-btn,
.stories-container .next-btn{
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}
.stories-container .previous-btn .active1,
.stories-container .next-btn .active1{
    opacity: 1;
    pointer-events: auto;

} */

.stories-container .next-btn,
.stories-full-view .next-btn{
    right: 8px;
}

.stories-container .story{
    height: 180px;
    width: 120px;
    flex-shrink: 0;
    border-radius: 7px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.stories-container .story img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.stories-container .stories{
    display: flex;
    gap: 8px;
}


.stories-container .content{
    scrollbar-width: none;
    overflow-x: scroll; 
    scroll-behavior: smooth;
}
.stories-container .content::-webkit-scrollbar{
    display: none;

}
.stories-container .author{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color: black;
    background: linear-gradient(transparent ,#222 130%);
}

.plus-btn{
    margin-top: -50px;
}
.stories-full-view{
    position: fixed;
    margin-top: 58px;
    inset: 0;
    z-index: 5;
    background:rgb(0,0,0,0.9) ;
    place-items: center; 
    display: none;
}
.stories-full-view.actived{
     display:block !important;
}

.stories-full-view .close-btn{
    position: absolute; 
    left: 95%;
    width: 45px;
    background-color: #444;
    color: #fff;
    border-radius: 50%; 
    padding: 10px;
    display: flex; 
    cursor: pointer;
    font-size: 18px;
}
.stories-full-view .story{
    height: 100%;
    text-align: center;
}
.stories-full-view .story .user-profile{
    position: relative;
    bottom:240px ;
    margin-left: 10px;


}
.stories-full-view .story .user-profile img{
    width: 38px;
    height: 38px;
    border-radius: 50%; 
    border: 4px solid #45abff;

}
.stories-full-view .content{
    height: 85vh;
    width: 100%;
    max-width: 700px; 
    position: relative;
    padding-top: 38px;
    scroll-behavior: smooth;
}
.stories-full-view .story img{
    height: 100%;
    aspect-ratio: 10/16;
    object-fit: cover;
    border-radius: 16px;
}
.stories-full-view .author{
    position:absolute; 
    top: 43px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Roboto" sans-serif ;
    font-size: 18px; 
}
/* .profile{ 
    position: relative;
    margin-top: -170px;
    margin-left: 8px;
    border: 3px solid #d3ccd1;
    height: 40px;
    cursor: pointer;
    width: 40px;    
    border-radius: 50%;
    overflow: hidden; 
    position: relative; 
}

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
   
} */
/* End CSS for  Left Side Bar by Shribash*/

/*Subhasis*/
#userDropdown {
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;

}

#userDropdown .dropdown-item {
    padding: 8px 12px;
    font-size: 14px;
    color: #333;
}

#userDropdown .dropdown-item:hover {
    background-color: #f1f1f1;
}

/* Style for the active navigation item */
.nav-item.active {
    position: relative;
}

.nav-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
}

#searchbarInput input,
#searchbarInputMiddle input {
    /* border: 2px rgb(163, 120, 120); */
    box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);
    background-color: rgb(61, 61, 107);
}

#searchbarInput span {
    background-color: rgb(61, 61, 107);
    box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);
}

/*End Subhasis*/