{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.enduser.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.enduser.style.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>
</head>

<body style="background-color: #1a0933 !important;">
    <nav class="navbar navbar-expand-lg " data-bs-theme="dark" style="background-color:#220b46;">
        <div class="container-fluid">
            <div class="navlogo">

                <a class="navbar-brand" href="/">
                    <h4>Pixify</h4>
                </a>

                <div class="topnav">
                    <div id="search__container">
                        {% comment %} <i class="bi bi-search"></i> {% endcomment %}
                        <input class="search__input" type="text" placeholder="Search" />

                    </div>
                    {% comment %} <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1" id="searchbtn"><i
                                class="bi bi-search"></i></button>
                        <input type="text" id="searchin" class="form-control" placeholder=""
                            aria-label="Example text with button addon" aria-describedby="button-addon1">
                    </div> {% endcomment %}

                </div>


                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">

                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i></a>
                    </li>


                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat">
                        <a class="nav-link active" aria-current="page" href="/message"><i
                                class="bi bi-messenger"></i></a>
                    </li>

                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notification">
                        <a class="nav-link active" aria-current="page" href="/notification"><i
                                class="fa-solid fa-bell"></i></a>
                    </li>

                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="About">
                        <a class="nav-link active" aria-current="page" href="/"><i
                                class="fa-solid fa-circle-info"></i></a>
                    </li>


                    <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Call">
                        <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-phone"></i></a>
                    </li>
                </ul>
            </div>

            <div id="but">

                <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@mdo">Login</button>
                <button type="button" class="btn btn2">Signup</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% comment %} <div class="modal-header">
                            <h1 class="modal-title fs-5 text-center" id="exampleModalLabel"
                                style="justify-content:center;">User Login Page</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> {% endcomment %}
                        <div class="modal-body">
                            <form>
                                <h1 class="modal-title fs-5 text-center">Login</h1>
                                <div class="mb-3 ">
                                    <label for="recipient-name" class="col-form-label">Username</label>
                                    <input type="text" class="form-control" id="recipient-name" placeholder="username">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">Password</label>
                                    <input type="Password" class="form-control" id="recipient-email"
                                        placeholder="password">
                                </div>

                            </form>

                        </div>
                        <div class="sec" style="  padding: 20px;">
                            <a href="#" id="forget" data-bs-dismiss="modal">Forget Password</a>
                            <button type="button " id="login" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </nav>

    <main class="container-fluid mt-2" style="min-height: 600px;">
        <div class="row px-5">
            <div class="col-12 col-sm-4 col-md-3 ps-5 pe-3">
                <div class="px-3 py-3 mt-3"
                    style="background-color: #1f0447e3;box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);font-family: serif;border-radius: 7px;">
                    <div class="left-sideber">
                        <div class="left-siteber-opt">
                            <ul class="left-siteber-opt-ul" style="padding-left: 0px;">
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-user me-2"></i>user</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-user-group me-2"></i>friends</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-clock me-2"></i>memories</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-bookmark me-2"></i>save</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-people-group me-2"></i>group</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-signs-post me-2"></i>post</a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="left-sidebar-text">
                            <h3>Your Sortcurts</h3>
                            <p>No Sortcurts</p>
                        </div>
                        <hr>
                        <div class="d-flex py-2" style="list-style: none;">
                            <li class="pe-2"><a href="#" style="text-decoration: none;">privacy</a></li>
                            <li class="pe-2"><a href="#" style="text-decoration: none;">Add choice</a></li>
                            <li class="pe-2"><a href="#" style="text-decoration: none;">Terms</a></li>
                            <li class="pe-2"><a href="#" style="text-decoration: none;">Advertising</a>
                            </li>

                        </div>
                        <div class="d-flex" style="list-style: none;">
                            <li class="pe-2"><a href="#" style="text-decoration: none;">cookies</a></li>
                            <li class="pe-2"><a href="/admin" style="text-decoration: none;">Admin</a></li>
                            <li class="pe-2"><a href="#" style="text-decoration: none;">more</a></li>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-8 col-md-6">
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-12 col-sm-4 col-md-3 ps-5 pe-5">
                <div class="px-3 py-3 mt-3"
                    style="background-color: #1f0447e3;box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);    font-family: serif;border-radius: 7px;">
                    <div class="pb-1 pt-1" style=" border-bottom: 1.5px solid #975fec;">
                        <div class="d-flex">
                            <h5 class="text-center text-white">Friend request</h5>
                            <span class="text-center text-align-center ms-auto fw-semibold"
                                style="color: rgb(0, 255, 242);cursor: pointer;    font-size: 14px;">See
                                All</span>
                        </div>
                        <p class="ps-2" style="color: #975fec;margin-bottom: 10px;">No request</p>
                    </div>
                    <div class="pb-1 pt-2 mt-3" style=" border-bottom: 1.5px solid #975fec;">
                        <div class="d-flex">
                            <h5 class="text-center text-white">Birthdays</h5>
                            <span class="text-center text-align-center ms-auto fw-semibold"
                                style="color: rgb(0, 255, 242);cursor: pointer;    font-size: 14px;">See
                                All</span>
                        </div>
                        <p class="ps-2" style="color: #975fec;margin-bottom: 10px;">No Birthday</p>
                    </div>
                    <div class="pb-1 pt-2 mt-3" style=" border-bottom: 1.5px solid #975fec;">
                        <div class="d-flex">
                            <h5 class="text-center text-white">Contacts</h5>
                            <span class="text-center text-align-center ms-auto fw-semibold"
                                style="color: rgb(0, 255, 242);cursor: pointer;    font-size: 14px;">See
                                All</span>
                        </div>
                        <p class="ps-2" style="color: #975fec;margin-bottom: 10px;">No contacts</p>
                    </div>
                </div>
            </div>

        </div>

    </main>

    <!-- <footer class="px-5" style="position: absolute; bottom: 0; width: 100%;">
        <p class="text-center pt-3 mx-5" style="border-top: 1.5px solid #975fec;">&copy; 2024 Pixify App</p>
    </footer> -->
</body>
<script type="text/javascript">
    const show_toastr = (message, type) => {
        // check if message is null or empty string
        if (!message) return;

        // show toast message based on type
        switch (type) {
            case 'info':
                toastr.info(message);
                break;
            case 'warning':
                toastr.warning(message);
                break;
            case 'success':
                toastr.success(message);
                break;
            case 'error':
                toastr.error(message);
                break;
            default:
                break;
        }
    }

    console.log("wwwwwww","{{ message|escapejs }}", "{{ message_type|escapejs }}")

    // call show toast message
    show_toastr("{{ message|escapejs }}", "{{ message_type|escapejs }}");

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</html>