{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.enduser.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.enduser.css' %}">
    <link rel="stylesheet" href="{% static 'css/toastr.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    {% comment %} <script src="{% static 'js/sribash.js' %}"></script> {% endcomment %}
   <!-- rima -->
    <script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/11.2.0/firebase-messaging-compat.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



</head>
    <body style="height: 100%;">
        <nav class="navbar navbar-expand fixed-top px-5" data-bs-theme="dark"  style="background-color:#220b46;" id="navbar">
            <div class="container-fluid" id="navContainer" style="height: 40px;padding-left: 100px;padding-right: 100px;">
                <!-- Left side: Logo -->
                <div class="d-flex col-md-3">
                    <a class="navbar-brand me-4" href="/" id="sidelogo">
                        <img src="{% static 'images/logo1.jpg' %}" alt="Logo" class="d-inline-block align-top"
                            style="width: 38px; height: 38px;">
                    </a>
                    <form action="" class="nav-item" id="searchbarInput" style="padding-top: 5px;">
                        <div class="input-group">
                            <span class="input-group-text border-0">
                                <i class="fa fa-search"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Search" />
                        </div>
                    </form>
                </div>
                <!-- Right side: Profile Image -->
                <div class="collapse navbar-collapse pe-auto col-md-5" id="navbarNav" style="height: 40px;justify-content: center;">
                    <form action="" class="nav-item" id="searchbarInputMiddle" style="padding-top: 5px;margin-right: 85px;width: 100%;display:none;">
                        <input class="form-control " type="text" placeholder="Search" />
                    </form>
                    <ul class="navbar-nav ms-auto" id="navbarNavMiddle">
                        <li class="nav-item" id="searchbarBtn" style="display:none;" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" >
                            <i class="bi bi-search"></i>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
                            <a class="nav-link" href="/"><i class="fa-solid fa-house"></i></a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Friend">
                            <a class="nav-link" href="/friendrequest/"><i class="bi bi-people-fill"></i></a>
                        </li>

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Short">
                            <a class="nav-link" href="/short"><i class="bi bi-file-play"></i></a>
                        </li>

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat">
                            <a class="nav-link" href="/chat/">
                                <span
                                    class="position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger"
                                    style="margin-left:27px; margin-top:7px;">2+</span>
                                <i class="bi bi-messenger"></i>
                            </a>
                        </li>

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notification">
                            <a class="nav-link" href="/notification/">
                                <span id="notification-counts"
                                    class="position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger"
                                    style="margin-left:27px; margin-top:7px;"></span>
                                    <i class="bi bi-bell-fill"></i>
                            </a>
                        </li>

                        {% comment %} <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="About">
                            <a class="nav-link" href="/aboutus/"><i class="bi bi-info-circle-fill"></i></a>
                        </li>

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Call">
                            <a class="nav-link" href="/contactus/"><i class="fa-solid fa-phone"></i></a>
                        </li> {% endcomment %}

                    </ul>
                </div>

                <div class="col-md-3 d-flex justify-content-end" id="navbarNav" style="height: 40px;">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ms-3 userImage" id="userImage" style="margin-right: auto;">
                            {% comment %} <a class="nav-link" href="#" style="padding-top: 2px;padding-bottom: 2px;">
                                <img src="{% static 'images/avatar.jpg' %}" alt="User" class="rounded-circle"
                                    style="width: 38px; height: 38px;">
                            </a> {% endcomment %}
                            <!-- Dropdown content -->
                            <div id="userDropdown" class="dropdown-menu userDropdown">
                                <div class="pt-1 px-2 fw-semibold">
                                    <div class="p-2" style="border-bottom: 1.5px solid #975fec;">
                                        <a class="d-flex userDropdownAnchor" href="#" id="userDropdownAnchor">
                                            {% comment %} <img src="{% static 'images/avatar.jpg' %}" alt="User" class="rounded-circle"
                                                style="width: 38px; height: 38px;">
                                            <div>
                                                <span class="fw-semibold ps-2 username d-block" style="color:#f8c471;">Subhasis Barman</span>
                                                <span class="ps-2 fw-normal d-block" style="color:white;font-size: 13px;">Cooch Behar</span>
                                            </div> {% endcomment %}
                                        </a>
                                    </div>

                                    <div class="message-content py-2" style="border-bottom: 1.5px solid #975fec;">
                                        <div class="ps-2 py-2 message;" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-user-group me-2 userProfiledropdownIcon"></i>Friends</a></div>
                                        <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-clock me-2 userProfiledropdownIcon"></i>Memories</a></div>
                                        <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-bookmark me-2 userProfiledropdownIcon"></i>Save</a></div>
                                        <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-people-group me-2 userProfiledropdownIcon"></i>Group</a></div>
                                        <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-signs-post me-2 userProfiledropdownIcon"></i>Post</a></a></div>
                                    </div>

                                    <div class="message-content py-2" style="border-bottom: 1.5px solid #975fec;">
                                        <div class="ps-2 message" style="font-size: 16px;">Account</div>
                                        <div>
                                            <span class="ps-3 py-1 fw-normal d-block" style="color:white;font-size: 13px;">Settings</span>
                                            <span class="ps-3 fw-normal d-block" style="color:white;font-size: 13px;">Privacy</span>
                                        </div>
                                    </div>
                                    <div class="message-content py-2">
                                        <a href="/logout" style="text-decoration: none;">
                                            <span class="ps-2 message" style="font-size: 16px;">Sign Out</span>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>


        <nav class="navbar fixed-top px-3" data-bs-theme="dark"  style="background-color:#220b46;disp;ay:none;" id="SmallScreenNav">
            <div class="container-fluid pb-0" id="SmallScreenNavDiv">
                <!-- Upper Line: BrandLogo and Search -->
                <div class="d-flex justify-content-between align-items-center w-100 pb-2">
                    <a class="navbar-brand me-4" href="/" id="sidelogo">
                        <img src="{% static 'images/logo1.jpg' %}" alt="Logo" class="d-inline-block align-top"
                            style="width: 38px; height: 38px;">
                    </a>
                    {% comment %} <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <li class="nav-item" id="searchbarBtn" style="display:none;" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" >
                        <i class="bi bi-search"></i>
                    </li>
                    </form> {% endcomment %}
                    <span class="brandName">Pixify</span>
                    <div class="col-md-3 d-flex justify-content-end" id="navbarNav" style="height: 40px;">
                        <form action="" class="nav-item" id="" style="padding-top: 5px; margin-right: 60px;">
                            <li class="nav-item" id="searchbarBtn" style="display:none;" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" >
                            <i class="bi bi-search"></i>
                            </li>
                        </form>

                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item ms-3 userImage" id="userImage" style="margin-right: auto;">
                                {% comment %} <a class="nav-link" href="#" style="padding-top: 2px;padding-bottom: 2px;">
                                    <img src="{% static 'images/avatar.jpg' %}" alt="User" class="rounded-circle"
                                        style="width: 38px; height: 38px;">
                                </a> {% endcomment %}
                                 <!-- Dropdown content -->
                                <div id="userDropdown" class="dropdown-menu userDropdown">
                                    <div class="pt-1 px-2 fw-semibold">
                                        <div class="p-2" style="border-bottom: 1.5px solid #975fec;">
                                            <a class="d-flex userDropdownAnchor" href="#" id="userDropdownAnchor">
                                                {% comment %} <img src="{% static 'images/avatar.jpg' %}" alt="User" class="rounded-circle"
                                                    style="width: 38px; height: 38px;">
                                                    <div>
                                                    <span class="fw-semibold ps-2 username d-block" style="color:#f8c471;">Subhasis Barman</span>
                                                    <span class="ps-2 fw-normal d-block" style="color:white;font-size: 13px;">Cooch Behar</span>
                                                </div> {% endcomment %}
                                            </a>
                                        </div>

                                        <div class="message-content py-2" style="border-bottom: 1.5px solid #975fec;">
                                            <div class="ps-2 py-2 message;" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-user-group me-2 userProfiledropdownIcon"></i>Friends</a></div>
                                            <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-clock me-2 userProfiledropdownIcon"></i>Memories</a></div>
                                            <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-bookmark me-2 userProfiledropdownIcon"></i>Save</a></div>
                                            <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-people-group me-2 userProfiledropdownIcon"></i>Group</a></div>
                                            <div class="ps-2 py-2 message" style="font-size: 16px;"><a href="/profile" style="color:white;text-decoration: none;corsor:pointer"><i class="fa-solid fa-signs-post me-2 userProfiledropdownIcon"></i>Post</a></a></div>
                                        </div>

                                        <div class="message-content py-2" style="border-bottom: 1.5px solid #975fec;">
                                            <div class="ps-2 message" style="font-size: 16px;">Account</div>
                                            <div>
                                                <span class="ps-3 py-1 fw-normal d-block" style="color:white;font-size: 13px;">Settings</span>
                                                <span class="ps-3 fw-normal d-block" style="color:white;font-size: 13px;">Privacy</span>
                                            </div>
                                        </div>
                                        <div class="message-content py-2">
                                            <a href="/logout" style="text-decoration: none;">
                                                <span class="ps-2 message" style="font-size: 16px;">Sign Out</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Lower Line: Navigation Links -->
                <div class="w-100 px-5" id="SmallScreenNavItem">
                    <ul class="nav justify-content-between" id="navbarNavMiddle">

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Home">
                            <a class="nav-link" href="/"><i class="fa-solid fa-house"></i></a>
                        </li>
                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Friend">
                            <a class="nav-link" href="/friendrequest/"><i class="bi bi-people-fill"></i></a>
                        </li>

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Short">
                            <a class="nav-link" href="/short"><i class="bi bi-file-play"></i></a>
                        </li>

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Chat">
                            <a class="nav-link" href="/chat/">
                                {% comment %} <span
                                    class="position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger"
                                    style="margin-left:27px; margin-top:70px;">2+</span> {% endcomment %}
                                <i class="bi bi-messenger"></i>
                            </a>
                        </li>

                        <li class="nav-item" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Notification">
                            <a class="nav-link" href="/notification/">
                                {% comment %} <span
                                    class="position-absolute top-0 start-30 translate-middle badge rounded-pill bg-danger"
                                    style="margin-left:27px; margin-top:70px;">2+</span> {% endcomment %}
                                    <i class="bi bi-bell-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>



    <main class="container-fluid mt-2" id="mainContainer">
        <div class="row  body-container" id="body-container">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ps-5 pe-3 left-sidebar" id="leftSidebar">
                <div class="px-3 py-3 mt-3" id="leftSidebarContainer">
                    <div class="left-sideber">
                        <div class="left-siteber-opt">
                            <ul class="left-siteber-opt-ul" style="padding-left: 0px;">
                                <li class="pb-2 leftsitebarUserName"></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-user-group me-2"></i>friends</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-clock me-2"></i>memories</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-bookmark me-2"></i>save</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-people-group me-2"></i>group</a></li>
                                <li class="pb-2"><a href="#"><i class="fa-solid fa-signs-post me-2"></i>post</a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="left-sidebar-text">
                            <h4>Your Sortcurts</h4>
                            <p class="ps-2" style="color: #975fec;margin-bottom: 10px;">No Sortcurts</p>
                        </div>
                        <hr>

                        <div class="container py-2">
                            <ul class="d-flex flex-wrap flex-sm-row flex-column justify-content-start list-unstyled mb-0">
                                <li class="pe-2"><a href="#" class="text-decoration-none">Privacy</a></li>
                                <li class="pe-2"><a href="#" class="text-decoration-none">Add choice</a></li>
                                <li class="pe-2"><a href="#" class="text-decoration-none">Terms</a></li>
                                <li class="pe-2"><a href="#" class="text-decoration-none">Advertising</a></li>
                                <li class="pe-2"><a href="#" style="text-decoration: none;">Cookies</a></li>
                                <li class="pe-2"><a href="/admin" style="text-decoration: none;">Admin</a></li>
                                <li class="pe-2"><a href="#" style="text-decoration: none;">more..</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 center-bodycontent">
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 ps-3 pe-5 right-sidebar" id="rightSidebar">
                <div class="px-3 py-3 mt-3" id="rightSidebarContainer">
                    <div class="pb-1 pt-1 rightSidebardivs">
                        <div class="d-flex">
                            <a class="text-center text-white rightSidebardivName">Friend request</a>
                            <a href="/friendrequest" class="text-center text-align-center ms-auto fw-semibold">See
                                All</a>
                        </div>
                        <p class="ps-2">No request</p>
                    </div>
                    <div class="pb-1 pt-2 mt-3 rightSidebardivs">
                        <div class="d-flex">
                            <a class="text-center text-white rightSidebardivName">Birthdays</a>
                            <a href="/birthday" class="text-center text-align-center ms-auto fw-semibold">See All</a>
                        </div>
                        <p class="ps-2">No Birthday</p>
                    </div>
                    <div class="pb-1 pt-2 mt-3 rightSidebardivs">
                        <div class="d-flex">
                            <a class="text-center text-white rightSidebardivName">Contacts</a>
                            <a href="#" class="text-center text-align-center ms-auto fw-semibold">See All</a>
                        </div>
                        <p class="ps-2">No contacts</p>
                    </div>
                </div>
            </div>

        </div>

    </main>

     {% comment %} <footer class="px-5" style="position:fixed; bottom: 0; width: 100%;background-color:1F0545">
        <p class="text-center pt-3 mx-5" style="border-top: 1.5px solid #975fec;">&copy; 2024 Pixify App</p>
    </footer> {% endcomment %}
</body>
<script>
    $(document).ready(function () {

        function get_login_user_details() {
            $('.userImage').html = '';
            $('.userDropdownAnchor').html = '';
            $.ajax({
                url: "/home/loginuserdetails/",
                type: "get",
                dataType: "json",
                success: function (response) {
                    //console.log("user_detailsr",response);
                    // For NavBarDrop Profile Img
                    let profileImageUrl = response.user_details.profile_image_url ? response.user_details.profile_image_url : "/images/avatar.jpg";

                    html_navabrUserprofile = ''
                        html_navabrUserprofile += `<a class="nav-link" href="#" style="padding-top: 2px;padding-bottom: 2px;">
                                <img src="/static${profileImageUrl}" alt="User" class="rounded-circle"
                                    style="width: 38px; height: 38px;">
                            </a>
                        `;
                        $('.userImage').append(html_navabrUserprofile);
                    // For NavBar Dropdown section
                    html_userDropdownDetails = ''
                        html_userDropdownDetails += `<img src="/static${profileImageUrl}" alt="User" onclick="userProfile()" class="rounded-circle"
                                                style="width: 38px; height: 38px;">
                                            <div>
                                                <span class="fw-semibold ps-2 username d-block" style="color:#f8c471;">${response.user_details.first_name} ${response.user_details.last_name}</span>
                                                <span class="ps-2 fw-normal d-block" style="color:white;font-size: 13px;">${response.user_details.country}</span>
                                            </div>

                                             `;
                        $('.userDropdownAnchor').append(html_userDropdownDetails);
                    //For Left Side Bar User Name
                    html_leftsitebarUserName = ''
                        html_leftsitebarUserName+=`<a href="/profile"><i class="fa-solid fa-user me-2"></i>${response.user_details.first_name}</a>`
                        $('.leftsitebarUserName').append(html_leftsitebarUserName);
                    //For Notification count
                    let count = response.user_details.unreadNotification;
                    $('#notification-counts').text(count > 0 ? count + "+" : '');
                    //For Home Page Upload Section user Profile
                    const userProfileUploadSection = document.getElementById("userProfileUploadSection");
                    if (userProfileUploadSection) {
                        userProfileUploadSection.src = `/static${profileImageUrl}`;
                    }
                    //For Home Page Story Section user Profile
                    const StorysectionUserProfile = document.getElementById("StorysectionUserProfile");
                    if (StorysectionUserProfile) {
                        StorysectionUserProfile.src = `/static${profileImageUrl}`;
                    }

                },
                error: function (xhr, status, error) {
                    console.error('Error fetching cart details:', error);
                }
            });
        }
        get_login_user_details();
    });
    //For Onclicking userProfile redirect to user profile page
    function userProfile(){
        window.location.href = "/profile";
    }



</script>

<script type="text/javascript">
    const show_toastr = (message, type) => {
        // check if message is null or empty string
        if (!message) return;

        // show toast message based on type
        switch (type) {
            case 'info':
                toastr.info(message);
                break;
            case 'warning':
                toastr.warning(message);
                break;
            case 'success':
                toastr.success(message);
                break;
            case 'error':
                toastr.error(message);
                break;
            default:
                break;
        }
    }

    // call show toast message
    show_toastr("{{ message|escapejs }}", "{{ message_type|escapejs }}");

// notification icon counts
 {% comment %} async function fetchUnreadNotificationsCount() {
        try {
            const response = await fetch('/notifications/unread_count/');
            if (response.ok) {
                const data = await response.json();
                document.getElementById('notification-counts').textContent = `(${data.unread_count})`;
            } else {
                console.error('Failed to fetch unread notifications count');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    document.addEventListener('DOMContentLoaded', fetchUnreadNotificationsCount); {% endcomment %}


</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const firebaseConfig = {
        apiKey: "AIzaSyAGoApbXczwcRy8eRbQP7qTeJ907YRa5NA",
        authDomain: "pixify-d9536.firebaseapp.com",
        projectId: "pixify-d9536",
        storageBucket: "pixify-d9536.appspot.com",
        messagingSenderId: "210451275321",
        appId: "1:210451275321:web:b15d869d8a6b89056c37e8",
        measurementId: "G-5RQY8K6R4Q"
    };

    // ✅ Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    const messaging = firebase.messaging();
   // console.log("working");

    // ✅ Request Notification Permission
    function requestPermission() {
        console.log("working");
        Notification.requestPermission()
            .then((permission) => {
                if (permission === "granted") {
                    console.log("Notification permission granted.");
                    getFCMToken();
                } else {
                    console.error("Notification permission denied.");
                }
            })
            .catch((error) => {
                console.error("Error requesting notification permission:", error);
            });
    }

    // ✅ Get FCM Token
    function getFCMToken() {
        messaging.getToken({
            vapidKey: 'BMr9yTAm799qHxIT8pLrtKvlpnthDm1kcNYERv75TMgXb3SKcEl6LK5vkGcn2tuiHM1fSBHXEc34jedewNFzJoc'
        }).then((currentToken) => {
            if (currentToken) {
                console.log("FCM Token:", currentToken);
                sendTokenToServer(currentToken);
            } else {
                console.warn("No registration token available.");
            }
        }).catch((error) => {
            console.error("Error getting token:", error);
        });
    }

    // ✅ Send Token to Server
    function sendTokenToServer(token) {
        //const user_id = ${response.user_details.first_name} // 🔴 Replace with actual logged-in user ID

        $.ajax({
            url: '/save_fcm_token/',  // Ensure this URL matches your Django URL pattern
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                fcm_token: token
            }),
            success: function (response) {
                console.log("Token saved:", response.message);
            },
            error: function (xhr) {
                console.error("Error saving FCM token:", xhr.responseText);
            }
        });

    }
    document.addEventListener("DOMContentLoaded", () => {
        requestPermission();
    });
</script>


<!-- rima -->


</html>