

{% extends "enduser/base.html" %}

{% block title %}Pixify-Message{% endblock %}

{% block content %}

{% load static %}

<div class="px-3 py-3 mt-3" style="background-color: #1f0447e3; box-shadow: 0 4px 8px rgba(151, 95, 236, 0.5);font-family: serif;border-radius: 7px;" >




    <div class="card mb-sm-3 mb-md-0 contacts_card" style="background-color: #1f0447e3; ">



        <div class="p-2 card-header">
            <div class="input-group px-5">
                <input type="text" placeholder="Search..." name="" class="form-control search-inp" >
                <div class="input-group-prepend">
                    <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                </div>
            </div>
    </div>
</div>

<div class="fcontainer">
    <div class="user-list">
        <div class="user-card">
            <img src="https://cdn-icons-png.flaticon.com/128/201/201634.png" alt="User">
            <div class="user-info">
                <h4>Rima Das</h4>
                <p>Followed by priya</p>
            </div>
            <button class="follow-btn">Follow</button>
        </div>
        <div class="user-card">
            <img src=https://cdn-icons-png.flaticon.com/128/3284/3284735.png alt="User">
            <div class="user-info">
                <h4>Subhasis Barman</h4>
                <p>Followed by rima and + 33 more</p>
            </div>
            <button class="follow-btn">Follow</button>
        </div>
        <div class="user-card">
            <img src=https://cdn-icons-png.flaticon.com/128/18484/18484446.png alt="User">
            <div class="user-info">
                <h4>balaram Sarkar</h4>
                <p>Followed by rima and + 33 more</p>
            </div>
            <button class="follow-btn">Follow</button>
        </div>
        <div class="user-card">
            <img src="https://cdn-icons-png.flaticon.com/128/201/201634.png"alt="User">
            <div class="user-info">
                <h4>Priya Mitra</h4>
                <p>Followed by rima and + 33 more</p>
            </div>
            <button class="follow-btn">Follow</button>
        </div>
        <div class="user-card">
            <img src=https://cdn-icons-png.flaticon.com/128/18484/18484446.png alt="User">
            <div class="user-info">
                <h4>Badhan Sarkar</h4>
                <p>Followed by rima and + 33 more</p>
            </div>
            <button class="follow-btn">Follow</button>
        </div>
    </div>
</div>
</div>
<script>document.addEventListener("DOMContentLoaded", () => {
    const followButtons = document.querySelectorAll(".follow-btn");

    followButtons.forEach(button => {
        button.addEventListener("click", () => {
            window.open("followed.html", "_blank");
        });
    });
});
</script>

<script src="script.js"></script>




{% endblock %}




